<template>
  <div class="video">
    <video autoplay controls style="object-fit: cover;" @ended="routeToHome()">
      <source src="../assets/video/intro.mp4" type="video/mp4">
    </video>
  </div>
</template>

<script>
export default {
  name: "AnimatedFilm",
  data(){
    return {
      videoSrc: '../assets/video/intro.mp4'
    }
  },
  methods: {
    routeToHome(){
      this.$router.push('/');
    }
  }
}
</script>

<style lang="scss" scoped>
video {
  width: 100vw;
  max-height: 100vh;

}

.video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  z-index: 999;
  background: #1a1e21;
}
</style>
