<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header d-flex flex-column align-items-start">
            <div>
                <span v-if="title !== 'Мифонавтика'" class="modal__title">{{title}}</span>
                <span v-else class="modal__title">Личное дело</span>
            </div>
            <p class="modal__subtitle">{{sub_title}}</p>
          <img class="btn-close" @click="close" src="../assets/news_cards-content/close-icon.svg" alt="">
        </header>
        <section class="modal-body">
          <slot name="body">
            <div>
              <expandable-image v-if="image !== ''" :src="require('../assets/news_cards-content/' + image)" :close-on-background-click="true" alt="img" class="leftimg" style="float:left;"></expandable-image>
              <span v-html="description"></span>
              <expandable-image v-if="image_desc !== ''" :src="require('../assets/news_cards-content/' + image_desc)" :close-on-background-click="true" alt="img" style="float:left;"></expandable-image>
            </div>
          </slot>
        </section>
        <footer class="modal-footer">
            <a v-if="title === 'РУНАФОНД'" style="color: #222222;" href="">Видеоинструкция по активации и текст программы</a>
          <button class="btn">Оригинальная статья</button>
          <button class="btn" @click="close">Закрыть</button>
          <slot name="footer"/>
        </footer>
      </div>
    </div>
  </transition>

</template>

<script>
export default {
  name: "CardsNewsDialog",
  props: {
    title: {
      type: String,
      required: false
    },
    sub_title: {
      type: String,
      required: false
    },
    description: {
      type: String,
      required: false
    },
    image: {
    },
    image_desc: {

    }
  },
  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
  .modal-fade-enter,
  .modal-fade-leave-active {
    opacity: 0;
    transition: opacity .25s ease-out
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .25s ease
  }
  .modal-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    position: relative;
    padding: 30px 30px 20px 30px;
    margin-top: 5%;
    width: 630px;
    height: 80%;
    //aspect-ratio: 3/4;
    z-index: 1000;
    background: url("../assets/cards-content/papper-bg.png") no-repeat top/100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    .leftimg {
      padding-right: 16px;
      width: 25%;
    }
    &-header {
      border-bottom: none;
    }
    &-body {
      overflow: auto;
      text-align: justify;
      padding-top: 0;
      /* total width */
      &::-webkit-scrollbar {
        background-color: #E0C493;
        width: 14px
      }

      /* background of the scrollbar except button or resizer */
      &::-webkit-scrollbar-track {
        background-color: #E0C493
      }
      &::-webkit-scrollbar-track:hover {
        background-color: #E0C493
      }

      /* scrollbar itself */
      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 14px;
        border: 4px solid #E0C493;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 3px solid #E0C493
      }

      /* set button(top and bottom of the scrollbar) */
      &::-webkit-scrollbar-button {display:none}
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      display: block;
      color: var(--black-title);
      //margin-bottom: 10px;
    }
    &-footer {
      border-top: none;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn {
        //border: 1px solid var(--black-title);
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
    @media screen and (max-width: 576px) {
      padding: 30px 15px;
      &-header {
        padding-bottom: 0;
      }
    }
  }
  .btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #2196F3;
    background: transparent;

  }
</style>
