<template>
  <section id="news-cards">
    <div class="container">
      <div>
        <carousel
            :autoplay="true"
            :nav="false"
            :responsive="{0:{items:1}, 768:{items:2}, 1200:{items:3}}"
            :loop="true"
            :autoplaySpeed="1500"
            class="row justify-content-between"
        >
          <Tilt
              :options="{perspective: 1000, max: 5, reverse: true, scale: 1}"
              v-for="item in news_cards_section_arr"
              :key="item.id"
          >
            <div v-if="!item.isAdv" class="card-wrapper" @click="callModal(item.label, item.sub_title, item.desc, item.img, item.img_desc)">
              <ExternalBtn class="m-1 m-md-3 m-xxl-0">
                <template v-slot:button-link>
                  <div class="button-link d-flex flex-column">
                    <div>{{item.label}}</div>
                      <div style="font-size: 16px; font-weight: 600">{{item.sub_label}}</div>
                  </div>
                </template>
              </ExternalBtn>
              <div class="card-image">
                <div class="mask-image">
<!--                  <div class="inner-image" :style="`background: url(${require('../assets/news_cards-content/' + item.img)})) no-repeat center/94%`"></div>-->
                  <img :src="require('../assets/news_cards-content/' + item.hex_img)" alt="">
                </div>
              </div>
              <!--              <div class="head-btn"><span>asdasdasd</span></div>-->
              <div class="card-title"><span>{{item.title}}</span></div>
              <div class="card-desc" v-html="item.desc"></div>
            </div>
            <div v-else class="card-wrapper">
              <ExternalBtn class="m-1 m-md-3 m-xxl-0">
                <template v-slot:button-link>
                  <div class="button-link d-flex flex-column">
                    <div>{{item.label}}</div>
                    <div style="font-size: 16px; font-weight: 600">{{item.sub_label}}</div>
                  </div>
                </template>
              </ExternalBtn>
<!--              <div class="reklama-image">-->
<!--                <a href="https://runivermage.web.app/catalog/8" target="_blank">-->
<!--                  <img class="img-fluid" :src="require('../assets/news_cards-content/' + item.img)" alt="">-->
<!--                </a>-->
<!--              </div>-->
              <a href="https://runivermage.web.app/catalog/8" target="_blank">
              <div class="card-image">
                <div class="mask-image">
                  <img :src="require('../assets/news_cards-content/' + item.hex_img)" alt="">
                </div>
              </div>
              </a>
              <div class="card-title"><span>{{item.title}}</span></div>
              <div class="card-desc" v-html="item.desc"></div>
            </div>
          </Tilt>
        </carousel>

      </div>
    </div>
    <CardsNewsDialog
        v-if="isShowModal"
        :title="this.modalShownTitle"
        :sub_title="this.modalSubTitle"
        :description="this.modalShowDescription"
        :image="this.modalShownImg"
        :image_desc="this.modalShownImgDesc"
        @close="close"
    >
      <template #body>
      </template>
      <template #footer>
      </template>
    </CardsNewsDialog>
  </section>

</template>

<script>
import ExternalBtn from "@/components/ExternalBtn";
import Tilt from 'vanilla-tilt-vue'
import carousel from 'vue-owl-carousel'
import CardsNewsDialog from '@/components/CardsNewsDialog.vue'
export default {
  name: "CardsNews",
  components: {ExternalBtn, Tilt, carousel, CardsNewsDialog},
  data() {
    return {
      news_cards_section_arr: [
        {
          label: 'Рунапрактика',
          sub_label: '',
          desc: `
            <div>
                <strong>Вопрос:</strong> Не влияют ли Руны отрицательно на жизнь и здоровье, вытягивая жизненную силу? Насколько энергия Рун опасна для жизни человека?<br>
                <strong>Ответ:</strong> А какая сфера жизни не расходует Твою силу и не пользуется Твоей энергией? Разве мы не отдаем собственную энергию, занимаясь профессиональной деятельностью? Решая свои повседневные вопросы, не расходуем её?  Или, когда дарим любовь и заботу своим близким? Только тут у нас не возникает подобных вопросов. Но у энергии Рун в силу их внеземной и первородной природы происхождения иной источник, принцип работы и потенциал, способный реализовываться, не используя в качестве «биодобавки» ограниченные человеческие ресурсы. Однако, для этого при установке рунной программы в тексте всегда должно конкретно указанно, за счёт каких именно энергий она активируется и будет работать, чтобы избежать случайного попадания личного поля в процесс реализации Руники.
            </div>`,
          hex_img: 'question-hex.jpg',
          img: '',
          img_desc: '',
        },
        {
          label: 'РУНА ДНЯ',
          sub_label: '',
          title: 'Утарк Медоуза, Руна Судьбы (Wyrd) "Вера"',
          sub_title: '',
          desc: `25-ю руну еще называют «руной Одина». Эта «пустая» руна символизирует силу, существующую вне органических процессов и упорядоченной структуры. Она символизирует безусловную веру и обретение мужества в этой вере. Иногда ее называют «судьбой», но она имеет несколько иной смысл. Это творческое начало, лежащее в области непостижимого и влияющее на реальность непредсказуемым образом. Выпадение этой руны указывает на то, что следует ожидать неожиданных событий. «Традиционное» истолкование рун не должно возводиться в абсолют. Оно лишь обозначает смысловые слои, не более того. Приложение традиционных ключевых слов, например «богатство» к Фё, «путешествие» к Рейд или «радость» к Винья, сводит работу с рунами к аналитической интерпретации и превращает сами руны в предмет для манипуляций. В действительности, руны действуют на глубинных уровнях и приносят информацию с внутренних планов бытия. Вы можете прийти к пониманию своей жизни, лишь работая с рунами и непосредственно ощущая их воздействие.`,
          hex_img: 'runa-dnya-hex.jpg',
          img: 'runa-dnya-hex.jpg',
          img_desc: '',
          isAdv: false
        },
        {
          label: 'RUNAPEDIA',
          sub_label: 'Новая статья',
          title: '"Гвидо Фон Лист и его арманический ряд рун"',
          sub_title: '',
          desc: `Австриец Гвидо Карл Антон фон Лист (Guido Karl Anton von List , 05.10.1848 – 17.05.1919 г.) мистик и теоретик новаций в области эзотерической парадигмы XIX-XX века, оставивший влиятельное литературное и культурное наследие, продвинувшее развитие, в том числе и рунной реформации в Европе на многие десятилетия применений и интерпретаций его идей. Концепция рунического строя, разработанная Гвидо фон Листом, состоит из несоразмерного с иными футарками количеством рунных знаков, а именно, 18-ти. Он осознанно использовал именно это число, утверждая, что они явились ему в видении при временной потере зрения в середине жизни после операции по удалению катаракты. Воссозданный по памяти порядок избранно содержал те руны, архетип которых он позже присоединил к отрывкам из 18-ти «заклинаний Одина», а именно, строки 139-165, взятые из «Старшей Эдды». Руны строились по системе, где их последовательность и качества коррелировались с номером заклинания в структуре эддического текста отрывка «Hávamál» («Речи Высокого»).
          Ознакомившись опытным взглядом со структурой Арманического строя, может показаться, что Гвидо не воссоздал, а сделал выборку рун из разных футарков, расположив, наименовав и изобразив их несколько отличным от классически принятого стандарта способом и переиначил, вписав графические основы своих рун в унифицированную структуру шестиугольной рунической проформы. Как правило, уровень погружения в Арманизм и разделяет всех исследователей и практиков руники на два лагеря: одни неоспоримо принимают футарк фон Листа, а другие категорически отрицают претенциозность строя на оригинальность и особую функциональность.
          Если описывать последнее свойство, то да - энергетических программ (ставов), содержащих арманические руны, практически нет, т.к. они маломощны для использования их в воздействиях, однако весьма раскачены как факультативная система для использования их в мантике, работе с телом (йога, асаны, танцы, гимнастика, мудры) и сознанием (медитации, духовное развитие).
          Этимологически, происхождение названия своего ряда, Гвидо фон Лист сопоставлял с описанным у Тацита в «Германии» Lehrstand классом сословия древнегерманской интеллигенции, антитезой утверждая, что на верхушке тех времен стояли Armanen (Irmionen (Hermionen)) – каста жрецов, являющейся сакральной элитой, обладающей духовной властью и высоким положением в социуме за счёт наследия своего королевского происхождения от первого Солнца (Ar-) Человека (-Man).
          При всей сложности восприятия концепций и идей австрийского мистика и литератора, однозначно то, что руны много лет для Гвидо фон Листа и его последователей были универсальным инструментом, при помощи которого было удобно исследовать, трактовать, интерпретировать и создавать. Один только этот факт поднимает их из сомнительной плоскости декоративных графических структур на уровень восприятия как потенциально активных энергий, которые можно и нужно попробовать познать.`,
          hex_img: 'gwido.png',
          img: 'gwido.png',
          img_desc: '',
          isAdv: false
        },
        {
          label: 'Мифонавтика',
          sub_label: 'Новая статья',
          title: '',
          sub_title: '',
          desc: `
            <div style="text-align: start;">
              <strong>ИМЯ:</strong> Один <br>
              <strong>ИМЯ В ОРИГИНАЛЕ:</strong> Odin <br>
              <strong>ОБРАЩЕНИЯ И КЛИЧКИ:</strong> Всеотец, Мудрец, Слепой гость, Злой Меркурий и т.д (много) <br>
              <strong>КАТЕГОРИЯ, СТАТУС И ФУНКЦИЯ:</strong> глава Богов, могущественнейший Ас, Верховный Бог благородства и мудрости, правитель Асгарда <br>
              <strong>ПОЛ:</strong> Мужской <br>
              <strong>СТЕПЕНЬ ОПАСНОСТИ:</strong> Высокая <br>
              <strong>ОПИСАНИЕ И ОСОБЫЕ ПРИМЕТЫ:</strong> мужчина преклонных лет, широкополый головной убор, накидка, один глаз, перегар <br>
              <strong>ПРИЗНАКИ:</strong> меняет облик и является в любом обличии <br>
              <strong>СПОСОБНОСТИ И ДОСТИЖЕНИЯ:</strong> личная сила воздействия на любой процесс и исход, заклинания и чары, знание рун <br>
              <strong>СЛАБЫЕ  СТОРОНЫ:</strong> любит делать внебрачных божеств от женщин  - йотунов <br>
              <strong>СИЛЬНЫЕ СТОРОНЫ:</strong> могущественный и всевидящий <br>
              <strong>ОЛИЦЕТВОРЕНИЕ:</strong> всевидение, сила всезнания, энергия трансформации, всесторонняя мудрость, стратегическое мышление, язык и поэзия <br>
              <strong>ЗАЩИТА:</strong> спутники – волки и вороны ,смена облика, мгновенное перемещение между мирами <br>
              <strong>ПРОИСХОЖДЕНИЕ:</strong> Ас <br>
              <strong>МАТЬ:</strong> Бестла <br>
              <strong>ОТЕЦ:</strong> Бор <br>
              <strong>БРАТЬЯ И СЁСТРЫ:</strong> Вилли и Ве <br>
              <strong>СЕМЕЙНОЕ ПОЛОЖЕНИЕ:</strong> женат на Фригг <br>
              <strong>ДЕТИ:</strong> Тюр, Бальдр и Хёд от Фригг, Тор от  Йорд , Вали от  Ринд, Видар от Григ <br>
              <strong>СЛУГИ И СПУТНИКИ:</strong> волки Гери и Фреки, вороны Хугин и Мунин <br>
              <strong>ДРУЖЕСТВЕН С:</strong> Ванами <br>
              <strong>ВРАЖДЕБЕН К:</strong> всему , что ведёт к гибели Миров <br>
              <strong>МЕСТО РОЖДЕНИЯ:</strong> Гиннунгагап <br>
              <strong>МЕСТО ФАКТИЧЕСКОГО ПРОЖИВАНИЯ:</strong>  Асгард, Валхалла, Гладсхейм, Валаскьяльв <br>
              <strong>МЕСТО СИЛЫ:</strong> трон Хлидскьяльв <br>
              <strong>СРЕДСТВО ПЕРЕДВИЖЕНИЯ:</strong> конь Слейпнир, пешком <br>
              <strong>ОРУЖИЕ, АТРИБУТЫ И ПРЕДМЕТЫ:</strong> копьё Гугнир, кольцо Драупнир <br>
              <strong>ЗОНА ОТВЕТСТВЕННОСТИ:</strong> все миры, конфликты, принятие решений, баланс, противостояние наступлению Рагнарёка <br>
              <strong>ФУНКЦИЯ , МИССИЯ И ОЛИЦЕТВОРЕНИЕ:</strong> ищет и создаёт знания, познаёт мудрость, понимание миров <br>
              <strong>УЧАСТИЕ В КЛЮЧЕВЫХ СОБЫТИЯХ:</strong> создание Миров и участие в Гибели Богов <br>
              <strong>ВЛИЯНИЕ НА ПРОФЕССИИ, ЗАНЯТИЯ И РОЛИ:</strong> короли, воины, поэты, бродяги <br>
              <strong>ТОТЕМНЫЕ И ДРУЖЕСТВЕННЫЕ ФОРМЫ ЖИЗНИ:</strong> волки, вороны, павшие воины <br>
            </div>
          `,
          hex_img: 'odin-hex.jpg',
          img: 'odin.jpg',
          img_desc: '',
          isAdv: false
        },
        {
          label: 'РУНАФОНД',
          sub_label: 'Новая формула',
          title: 'Рунная формула "Выход из финансового тупика"',
          sub_title: 'Рунная программа "Выход из финансового тупика"',
          desc:
            `<div>
              <strong>ХАГАЛАЗ:</strong> руна чистоты и порядка, очищение от негатива и вреда, состояние собственной  чистоты<br>
              <strong>АНСУЗ:</strong>  руна получения истиной  информации и правильного руководства к действию для выхода из тяжелой финансовой ситуации<br>
              <strong>РАЙДО:</strong>  руна правильного направления по выходу из текущей финансовой ситуации<br>
              <strong>ПЕРТО:</strong> руна открывает портал  позитивных возможностей<br>
              <strong>ДАГАЗ:</strong>  руна - концентрат и магнетический вихрь  возможностей заработать, улучшить финансовое положение<br>
            </div>`,
          hex_img: 'rune-formula-hex.jpg',
          img: 'rune-formula.jpg',
          img_desc: 'rune-formula-desc.jpg',
          isAdv: false
        },
        {
          label: 'Рунивермаг',
          sub_label: 'Товар дня',
          title: 'Амулет "Фреки"',
          sub_title: '',
          desc: `
            <strong>Материал:</strong> Серебро 925 с чернением Плотность 10,36 (г/см3)<br>
            <strong>Ширина:</strong> 7 мм<br>
            <strong>Вес:</strong> 5-7 грамм<br>
          `,
          hex_img: 'runivermage-item-2.png',
          img: 'runivermage-item.png',
          img_desc: '',
          isAdv: true
        },
        {
          label: 'Интересный',
          sub_label: 'Факт',
          title: '',
          sub_title: '',
          desc: `Над вратами Храма Гроба Господня в Иерусалиме в 1929 году после снятия декоративных барельефов на каменном фасаде открылась взору чётко высеченная три раза руна Альгиз. В связи с тем, что в сети крайне мало исторических материалов об архитектуре Храма, появление руны системной подключки Algiz  до сих пор вызывает много споров.`,
          hex_img: 'fact-card-hex.png',
          img: 'fact-card.png',
          img_desc: '',
          isAdv: false
        },
      ],
      isShowModal: false,
      modalShownTitle: '',
      modalSubTitle: '',
      modalShowDescription: '',
      modalShownImg: '',
      modalShownImgDesc: ''
    }
  },
  methods: {
    close() {
      this.isShowModal = false
    },
    callModal(label, sub_title, desc, img, img_desc) {
      this.modalShownTitle = label
      this.modalSubTitle = sub_title
      this.modalShowDescription = desc
      this.modalShownImg = img
      this.isShowModal = true
      this.modalShownImgDesc = img_desc
    }
  }
}
</script>

<style lang="scss" scoped>
#news-cards {
  z-index: 10;
  position: absolute;
  top: 96vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  //width: 100px;
  //padding: 250px 0 200px;
  //margin-top: 180px;
  .card-wrapper {
    background: url("../assets/cards-content/papper-bg.png") no-repeat top/100%;
    padding: 24px 24px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 3/4;
    cursor: pointer;
    max-width: 350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    &.reklama-wrapper {
      padding: 24px 24px 24px;
      img {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
    //display: -webkit-box;
    .headBtn {
      margin-top: -50px !important;
    }
    .card-image {
      margin-bottom: 10px;
      //background: no-repeat center;
      //opacity: 0.55;
      //height: 100%;
      width: 175px;
      height: 175px;
      //position: absolute;
      background: url("../assets/cards-content/card_mask_inner.png") no-repeat center/100%;
      .mask-image {
        transform: scale(80%);
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        //clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
        width: 175px;
        height: 175px;
        //margin-left: 15%;
        //margin-right: 15%;
      }
      img {

        //max-width: 400px;
        //height: 75%;
      }
    }
    .card-title {
    }
    .card-desc {
      margin-top: 4px;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: start;
    }
  }

  @media screen and (max-width: 1400px) {
    //top: 55%;
  }

  @media screen and (max-width: 1200px) {
    //top: 55%;
    .card-wrapper {
      max-width: 350px;
    }
  }

  @media screen and (max-width: 992px) {
    top: 180vw;
    .card-wrapper {
      max-width: 60vw;
    }
  }
  @media screen and (max-width: 768px) {
    top: 122vw;
    .card-wrapper {
      //max-width: 55vw;
      padding: 24px 24px 120px;
    }

  }
  @media screen and (max-width: 576px) {
    .card-wrapper {
      max-width: 80vw;
      padding: 24px 24px 50px;
      .card-desc {
        -webkit-line-clamp: 4;
      }
    }
  }
}
</style>
