<template>
  <section id="navBtns-block">
    <div class="container-fluid container-md d-flex flex-wrap justify-content-center justify-content-xxl-between align-content-center">
      <div class="outgo-btn" v-for="btn of navBtns_arr" :key="btn.id">
        <ExternalBtn class="m-1 m-md-3 m-xxl-0">
          <template v-slot:button-link>
            <a class="button-link" href="/"><span>{{btn.title}}</span></a>
          </template>
        </ExternalBtn>
      </div>
    </div>
  </section>
</template>

<script>
import ExternalBtn from "@/components/ExternalBtn";
export default {
  name: "ExternalNavBtn",
  components: {ExternalBtn},
  data() {
    return {
      navBtns_arr: [
        {title: 'Рунотека'},
        {title: 'Руны'},
        {title: 'Рунопедия'},
        {title: 'Руниверситет'},
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
//  buttons section
#navBtns-block {
  background: url("../assets/head-bg.png") no-repeat top;
  background-size: cover;
  padding: 96px 0;
  //background: #000;
  position: relative;
  &:before {
    content:'';
    position: absolute;
    width: 100%; height: 4px;
    background: linear-gradient(to bottom, #FDF5E5 0%, #CEA662 41.15%, #583C0D 100%);
    top: -4px; left: 0;
    box-shadow: 0 1px 0 #332000, inset 0 1px 0 rgba(255, 255, 255, 0.75);
  }
  &:after {
    content:'';
    position: absolute;
    width: 100%; height: 4px;
    background: linear-gradient(to bottom, #FDF5E5 0%, #CEA662 41.15%, #583C0D 100%);
    bottom: -4px; left: 0;
    box-shadow: 0 1px 0 #332000, inset 0 1px 0 rgba(255, 255, 255, 0.75);
  }
  .outgo-btn {
    @media screen and (max-width: 1200px) {
      margin-bottom: 12px;
    }
  }
}
</style>
