<template>
  <button class="headBtn">
    <slot name="button-link"></slot>
  </button>
</template>

<script>
export default {
  name: "ExternalBtn"
}
</script>

<style lang="scss" scoped>
.headBtn {
  position: relative;
  font-family: "KellySlab", serif;
  text-align: center;
  background: transparent;
  border: none;
  background: url("../assets/ext_btn.png") no-repeat center/100%;
  width: 220px; height: 65px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/1;
  .button-link {
    //font-size: 1.5em;
    font-family: 'TT Mussels', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;

    color: #694B19;
    //text-transform: uppercase;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;

  }
  &:hover {
    //background: url("../assets/bbtn-hover.svg") no-repeat center/100%;
  }
  &:active {
    //background: url("../assets/bbtn-tap.svg") no-repeat center/100%;
  }
  @media screen and (max-width: 992px) {
    width: 220px; height: auto;

    .button-link {
      font-size: 18px;
      line-height: normal;
    }
  }
}
</style>
