<template>
  <footer>
    <div class="container">
      <div class="d-flex flex-column align-items-center py-5 my-3 border-bottom">
        <a href="#" class="d-none d-md-block mb-4">
            <img :src="headLogo[$i18n.locale]" width="240" height="50" class="img-fluid" alt="foot-logo">
        </a>
        <ul class="nav d-flex flex-lg-row align-items-center justify-content-center">
            <li
              v-for="item in $t('footer-info_buttons')"
              class="nav-item mb-md-4 d-flex justify-content-center"
              :key="item.id"
            >
              <a href="#" class="nav-link">{{ item }}<span></span></a>
            </li>
        </ul>
        <div class="footLogo-side text-center">
              <div class="icons-row my-5">
                  <a>
                      <i class="fa fa-vk" aria-hidden="true"></i>
                  </a>
                  <a v-for="item of socialIconsArr" :key="item.id">
                      <i :class="item.uni"></i>
                  </a>
              </div>
              <div class="contact-info">
                  <div class="d-flex flex-column">
                      <p>{{ $t('footer_policy[0]') }}</p>
                      <p>{{ $t('footer_policy[1]') }}</p>
                  </div>
              </div>
        </div>

      </div>
      <div class="d-flex flex-column flex-lg-row justify-content-between text-center copyright-text pb-4 pb-md-1">
        <p class="text-center ">{{$t('head_title')}} © {{ new Date().getFullYear()}}. {{$t('footer-rights_reserved[0]')}}</p>
        <p>{{$t('footer-privacy_policy[0]')}}<a href="/">{{$t('footer-privacy_policy[1]')}}</a></p>
      </div>
    </div>
  </footer>
</template>

<script>

import headLogoRu from '@/assets/header/head-logo.png'
import headLogoEn from '@/assets/header/head-logo-eng.png'

export default {
  name: "Footer",
  components: {

  },
  data() {
    return {
      socialIconsArr: [
        {uni: 'bi-pinterest'},
        {uni: 'bi-instagram'},
        {uni: 'bi-telegram'},
        {uni: 'bi-youtube'},
      ],
      foot_titles: ["Рунотека", "Рунопедия", "Рунопрактика", "Рунивермаг", "Мифонавтика", "Мифонавтика"],
      headLogo: {
        ru: headLogoRu,
        en: headLogoEn
      }
    }
  }

}
</script>

<style lang="scss" scoped>
footer {
  background: black;
  .nav-title {
    font-family: 'TT Mussels', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
    //padding: 0.25rem 0.5rem;
  }
  .nav {
    position: relative;
    width: 50%;
    .nav-item {
      //margin-right: 20px;
      width: 283px;
      height: 62px;
      font-family: 'Oswald', sans-serif;
      background: url("../assets/footer/menu-drop.png") no-repeat center/70%;
      //width: 20%;
      &:hover {
        a{
          color: #E3C679;
        }

      }
      //flex: 1;
      .nav-link {
        position: relative;
        color: rgba(white, 1);
        padding: 1rem 0.5rem;
        font-size: 1.1em;
        font-weight: 500;
        
        //&:hover {
        //  border-bottom: 1px solid #E3C679;
        //  margin-bottom: -1;
        //}
        //span {
        //  position: absolute;
        //  display: inline-block;
        //  bottom: 0;
        //  left: 0;
        //  width: 0;
        //  height: 1px;
        //  background: #E3C679;
        //  transition: all 0.25s;
        //}
        //&:hover {
        //  color: #E3C679;
        //  span {
        //    width: 40%;
        //  }
        //}

      }
    }
    :nth-child(2) {
      //margin-right: 65px;
      :after {
        content: "";
        width: 64px;
        height: 60px;
        top: 42px;
        left: -140px;
        position: absolute;
        display: inline-block;
        margin-left: 25px;

        background: url("../assets/footer/symbol.png") no-repeat center/100%;

      }
      @media screen and (max-width: 1400px) {
        //margin-top: 50px;
        margin-right: 0;
        //margin-bottom: 20px;
        :after {
          width: 62px;
          height: 54px;
          top: 46px;
          left: -114px;
          margin-left: 0;
        }
      }
      @media screen and (max-width: 992px) {
        margin-top: 0;
        margin-right: 0;
        :after {
          width: 56px;
          height: 52px;
          top: 50px;
          left: -110px;
          margin-left: 0;
        }
      }
      @media screen and (max-width: 768px) {
        //margin-bottom: 70px;
        :after {
          top: -130px;
          left: 50px;
          margin-left: 0;
        }
      }
    }
    :nth-child(3) {
      position: relative;
      //width: 759px; height: 63px;
      @keyframes move1 {
        0% {
          offset-distance: 0%;
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          offset-distance: 100%;
          opacity: 0;
        }
      }
      @keyframes move2 {
        0% {
          offset-distance: 100%;
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          offset-distance: 0;
          opacity: 0;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 9px;
        width: 6px;
        height: 1px;
        background: rgba(#FFFFFF, 1);
        z-index: 5;
        animation: move2 2000ms infinite ease-in-out;
        left: 62px;
        offset-path: path("M161.5 43.5L174.5 22L161.5 1H0");
      }
      &:after {
        content: "";
        position: absolute;
        top: 9px;
        width: 6px;
        height: 1px;
        background: rgba(#FFFFFF, 1);
        animation: move1 2000ms infinite ease-in-out;
        left: 42px;
        offset-path: path("M177 43L14.5 41.5L1.5 19L16.5 0.5");
      }
    }

    @media screen and (max-width: 1400px) {
      width: 75%;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      :nth-child(2) {
        :after {
          display: none;
        }
      }

      //margin-top: 45px;
    }
  }
  .footLogo-side {
    padding: 0.25rem 0.5rem;
    .icons-row {
      a {
        padding: 10px;
        border-radius: 4px;
        background: rgba(#F3F2EE, 0.1);
        color: #E3C679;
        margin-right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in-out;
        //transition: transform 0.35s;
        &:hover {
          border-bottom: 1px solid #E3C679;
          box-shadow: 0 7px 11px rgba(#E3C679, 0.25);
        }
      }
    }
  }

  .contact-info {
    color: rgba(white, 0.5);
    margin-bottom: 8px;
    p {
      font-size: 0.95em;
      margin-bottom: 5px;
    }
  }

  .border-bottom {
    border-bottom: 1px solid rgba(#ffffff, 0.15)  !important;
  }
  .copyright-text {
    color: rgba(white, 0.5);
    font-size: 15px;
    a {
      color: rgba(white, 0.5);
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: 40vw;
  }
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}
</style>
