<template>
  <header class="header" :class="{scrolled: ifScroll}">
    <nav class="navbar navbar-expand-lg navbar-dark py-3 pb-md-5" id="mNavbar">
      <div class="container">
        <!--        <div class="d-flex d-lg-none"><img src="../assets/head-logo-head-logo-toggler-simb.png" class="img-fluid" alt="head-logo-symbol"></div>-->
        <div class="d-none d-lg-flex flex-column align-md-items-start head-left-side">
          <Language class="w-25" />
<!--          <div class="top-head d-flex">-->
<!--            <ul class="navbar-nav">-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">О руноделе<span></span></a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">Форум<span></span></a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">Темеор<span></span></a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="bottom-head d-flex">-->
<!--            <ul class="navbar-nav">-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">Рунотека<span></span></a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">Рунопедия<span></span></a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="" class="nav-link">Рунопрактика<span></span></a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
        <router-link to="/" class="d-flex align-items-center flex-lg-column px-1 head-logo" style="text-decoration: none;">
          <p class="d-none d-lg-block img-fluid mb-3 title_sub">{{$t('sub_title')}}</p>
<!--          <img :src="(localStorage.getItem('language') === 'ru') ? '../assets/head-logo_sub.png' : '../assets/head-logo_sub_eng.png'" width="370" height="17" class="d-none d-lg-block img-fluid mb-3" alt="">-->
          <img :src="headLogo[$i18n.locale]" width="370" height="76" class="d-inline-block align-text-top img-fluid" alt="head-logo">
            <img src="../assets/footer/symbol.png" width="40" height="38" class="img-fluid mx-3 d-block d-md-none" alt="">
        </router-link>
        <div class="slogan-wrapper d-none d-lg-block ">
          <nav class="nav">
            <ul class="nav__menu">
              <li class="nav__menu-item">
                <span>
                  <img class="mx-3" src="../assets/header/menu-item__dot.png" alt="dot">
                  {{ $t('slogan_arr[0].title') }}
                  <img class="mx-3" src="../assets/header/menu-item__dot.png" alt="dot">
                </span>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[0].subtitle[0]'))">{{ $t('slogan_arr[0].subtitle[0]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[0]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[0].subtitle[1]'))" >{{ $t('slogan_arr[0].subtitle[1]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[1]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[0].subtitle[2]'))" >{{ $t('slogan_arr[0].subtitle[2]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[2]') }}</span>
                  </li>
                </ul>
              </li>
              <li class="nav__menu-item">
                <span >
                  {{ $t('slogan_arr[1].title') }}
                  <img class="mx-3" src="../assets/header/menu-item__dot.png" alt="dot">
                </span>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[1].subtitle[0]'))" >{{ $t('slogan_arr[1].subtitle[0]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[3]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[1].subtitle[1]'))" >{{ $t('slogan_arr[1].subtitle[1]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[4]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[1].subtitle[2]'))" >{{ $t('slogan_arr[1].subtitle[2]') }}</span>
                    <span class="tooltiptext">{{ $t('slogan_tips_arr[5]') }}</span>
                  </li>
                </ul>
              </li>
              <li class="nav__menu-item">
                <span>
                  {{ $t('slogan_arr[2].title') }}
                  <img class="mx-3" src="../assets/header/menu-item__dot.png" alt="dot">
                </span>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[2].subtitle[0]'))" >{{ $t('slogan_arr[2].subtitle[0]') }}</span>
                    <span class="tooltiptext to-left">{{ $t('slogan_tips_arr[6]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[2].subtitle[1]'))" >{{ $t('slogan_arr[2].subtitle[1]') }}</span>
                    <span class="tooltiptext to-left">{{ $t('slogan_tips_arr[7]') }}</span>
                  </li>
                  <li class="nav__submenu-item">
                    <span @click="goTo($t('slogan_arr[2].subtitle[2]'))" >{{ $t('slogan_arr[2].subtitle[2]') }}</span>
                    <span class="tooltiptext to-left">{{ $t('slogan_tips_arr[8]') }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="slogan_wrapper">
            <div class="slogan__dot"></div>
            <div class="slogan__dot"></div>
            <img src="../assets/header/head-slogan_background_black_0.75.png" width="759" height="63" class="back-img img-fluid" alt="">
          </div>
        </div>
        <div class="d-none d-lg-flex flex-column align-items-md-end head-right-side">
          <div class="top-head d-flex ">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link to="/preloader" class="nav-link active" aria-current="page" >
                    <span></span>
                    <p>{{ $t('signIn')}}</p>
                    <img src="../assets/header/signin-icon-4.png" class="img-fluid" alt="sign-in">
                    <span></span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <button class="navbar-toggler second-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon" :class="{open: toggleSelected === true}" v-on:click.prevent="updateToggle"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse p-4" id="navbarToggler">
            <ul class="navbar-nav ms-auto mb-4">
                <li class="nav-item d-flex justify-content-between">
                    <a class="nav-link" aria-current="page" href="">{{ $t('signIn')}}<img src="../assets/header/signin-icon-4.png" class="img-fluid mx-2" alt="sign-in"><span></span></a>
                    <Language class="w-25" />
                </li>
            </ul>
          <ul class="navbar-nav ms-auto">
            <li v-for="item in $t('menu_items_mobile')" :key="item.title" class="nav-item">
                <router-link :to="item.link" class="nav-link" style="color: #FFFFFF;">{{item.title}}</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>

import Language from "@/components/Language";
import headLogoRu from '@/assets/header/head-logo.png'
import headLogoEn from '@/assets/header/head-logo-eng.png'
export default {
  name: "Header",
  components: {Language},
  data() {
    return {
      toggleSelected: null,
      ifScroll: false,
      headLogo: {
        ru: headLogoRu,
        en: headLogoEn
      }
    }
  },
  methods: {
    updateScroll() {
      this.ifScroll = window.scrollY > 50
    },
    updateToggle() {
      this.toggleSelected = !this.toggleSelected;
    },
    goTo(linkTitle) {
      if(linkTitle === 'Рунамедиа' || linkTitle === 'Runamedia') {
        this.$router.push('/animatedfilm');
      }
        // рунапрактика, рунафонд, рунапедия, руниверситет и мифонавтика
        else if (linkTitle === 'Рунапрактика' || linkTitle === 'Runamedia') {
            this.$router.push('/animatedfilm');
        }
        else if (linkTitle === 'Рунатека' || linkTitle === 'Runateka') {
            window.open('https://runas-project.web.app');
        }
        else if (linkTitle === 'Рунивермаг' || linkTitle === 'Runivermage') {
            window.open('https://runivermage.web.app');
        }
        else {
            this.$router.push('/preloader');
        }
    }


  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll );
  },
  computed: {
    getLanguage() {
      return localStorage.getItem('language') === 'ru';
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  //background: url("../assets/head-bg.png") no-repeat top center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);
  //transition: all 1s ease;
  width: 100%;
  max-width: 100vw;
  z-index: 99;
  //border-bottom: 2px;
  .title_sub {
    font-family: 'TTMussels', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-decoration: none;
    background: -webkit-radial-gradient(top left, #FDF5E5, #CEA662, #583C0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (max-width: 992px) {

    background: rgba( black, 0.85);
  }
  //&:after {
  //  content:'';
  //  position: absolute;
  //  width: 100%; height: 2px;
  //  background: linear-gradient(to bottom, #FDF5E5 0%, #CEA662 41.15%, #583C0D 100%);
  //  bottom: -2px; left: 0;
  //  box-shadow: 0 1px 0 #332000, inset 0 1px 0 rgba(255, 255, 255, 0.75);
  //}
  &.change_color {
    background: rgba(black, 0.95) !important;
  }
  .navbar {
    //background: rgba(black, 0.5);
    .nav-link {
      color: white;
      &.router-link-active {
        color: #E3C679;
      }
    }
    .top-head {
      font-size: 12px;
      text-transform: uppercase;
      .nav-item {
        cursor: pointer;
      }
    }
    .bottom-head {
      font-family: 'TTMussels', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      border-top: 1px solid rgba(white, 0.3);
    }

    .head-left-side {
      z-index: 101;
      select {

      }
      width: 35%;
      .top-head {
        padding-bottom: 10px;
        .nav-link {
          padding: 5px 40px 5px 0;
          position: relative;
          span {
            position: absolute;
            display: inline-flex;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #E3C679;
            transition: all 0.35s;
          }
          &:hover {
            color: #E3C679;
            span {
              width: 50%;
            }
          }
        }
      }
      .bottom-head {
        a {
          padding: 15px 20px 5px 0;
          &:hover {
            color: #E3C679;
          }
        }
      }
    }
    .head-right-side {
      z-index: 101;
      width: 35%;
      .top-head {
        padding-bottom: 10px;
        a {
          display: flex;
          padding: 5px 0 5px 50px;
          position: relative;
          p {
            margin: 0;
            padding: 2px 0;
          }
          img {
            vertical-align: top;
            margin-left: 8px;
            //padding-left: 10px;
          }
          span {
            position: absolute;
            display: inline-flex;
            bottom: 5px;
            left: 15%;
            width: 0;
            height: 1px;
            background: #E3C679;
            transition: all 0.25s;
            &:first-of-type {
              top: 5px
            }
          }
          &:hover {
            color: #E3C679;
            span {
              width: 76%;
            }
          }
        }
      }
      .bottom-head {
        width: 100%;
        justify-content: end;
        a {
          padding: 15px 0 5px 20px;
          &:hover {
            color: #E3C679;
          }
        }
      }
    }

    .head-logo {
      //flex-basis: 400px;
      //width: 200px;
      //:nth-child(1) {
      //  margin-bottom: 10px;
      //}
    }
    .slogan-wrapper {
      //width: 56%;
      text-align: center;
      position: absolute;
      bottom: 0;
      //width: 100%;
      margin: 0 auto;
      left: 0; right: 0;
      transform: translateY(50%);
      z-index: 99;
      @media screen and (min-width: 1700px) {
        width: 50%;
      }
      .nav {
        //width: auto;
        margin: 0 auto;
        color: #f0f0f0;
        font-size: 1em;
        justify-content: center;
        font-family: 'TT Mussels', sans-serif;
        ul {
          list-style: none;
          padding-left: 0;
          margin-top: 0;
          margin-bottom: 0;
        }

        a {
          display: block;
          //padding: 0 16px;
          line-height: inherit;
          cursor: pointer;
          text-decoration: none;
          //background-image: linear-gradient(35deg, #FDF5E5, #CEA662, #583C0D);
          //background-size: 100%;
          //background-repeat: repeat;
          //-webkit-background-clip: text;
          //-webkit-text-fill-color: transparent;
          color: #CEA662;
        }
        span {
          cursor: pointer;
        }

        &__menu {
          line-height: 65px;
          font-weight: 700;
          text-transform: uppercase;
          &-item {
            display: inline-block;
            position: relative;
            color: #CEA662;
            &:hover {
              .nav__submenu {
                display: block;
                opacity: 1;
              }
            }
            &:nth-child(1) {

              .nav__submenu {
                &-item {
                  background: url("../assets/header/head-slogan_sub_back_left.png") no-repeat center/100%;
                }
              }
            }
            &:nth-child(2) {
              .nav__submenu {
                &-item {
                  background: url("../assets/header/head-slogan_sub_back_center.png") no-repeat center/100%;
                }
              }
            }
            &:nth-child(3) {

              .nav__submenu {
                left: calc(50% - 100px);
              }
            }
          }
        }

        &__submenu {
          font-weight: 500;
          text-transform: none;
          display: none;
          opacity: 0;
          position: absolute;
          width: 200px;
          margin-left: auto;
          margin-right: auto;
          left: -30%;
          right: 0;

          //left: 50%;
          //-ms-transform: translateX(-50%);
          //transform: translateX(-50%);
          //background: rgba( black, 0.7 );
          animation: all 2s ease-in-out;
          &-item {

            text-transform: uppercase;
            background: url("../assets/header/head-slogan_sub_back.png") no-repeat center/100%;
            animation: all 2s ease-in-out;
            //a {
            //  color: #CEA662;
            //}
            &:hover {
              transform: scale(1.1);
              //background: rgba( #FFF, 0.3 );
            }
          }
        }

      }

      .slogan_wrapper {
        //width: 759px; height: 63px;
        @keyframes move1 {
          0% {
            offset-distance: 0%;
            opacity: 0.7;
          }
          50% {
            opacity: 1;
          }
          100% {
            offset-distance: 100%;
            opacity: 0;
          }
        }
        @keyframes move2 {
          0% {
            offset-distance: 100%;
            opacity: 0.7;
          }
          50% {
            opacity: 1;
          }
          100% {
            offset-distance: 0%;
            opacity: 0;
          }
        }
        .slogan__dot {
          position: absolute;
          top: 0;
          width: 8px;
          height: 2px;
          background: rgba(#FFFFFF, 1);
          //border-radius: 50%;
          //box-shadow: 2px 0px 1px #FFFFFF;
          z-index: 5;
          &:first-child {
            animation: move1 3000ms infinite ease-in-out;
            top: 1px;
            left: calc(50% - 350px);
            offset-path: path("M0 0.5H703L728 29L703 58.5");
          }
          &:nth-child(2) {
            animation: move2 3000ms infinite ease-in-out;
            top: 2px;
            left: calc(50% - 380px);
            offset-path: path("M26 1L1.5 29.5L26 58.5H729");
          }
        }
      }
      .back-img {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 0px;
        z-index: -1;
      }
    }
  }
  @media screen and (max-width: 1400px) {
    .head-left-side {
      //flex-grow: 2 !important;
      .top-head {
        a {
          padding: 5px 20px 5px 0 !important;
        }
      }
      .bottom-head {
        a {
          padding: 15px 15px 5px 0 !important;
        }
      }
    }
    .head-right-side {
      //flex-grow: 2 !important;
      .top-head {
        a {
          padding: 5px 0 5px 20px !important;
        }
      }
      .bottom-head {
        a {
          padding: 15px 0 5px 15px !important;
        }
      }
    }
    .head-logo {
      //flex-grow: 1;
    }
  }
  @media screen and (min-width: 1120px) and (max-width: 1439px) {
    .head-logo {
      justify-content: center;
      text-align: center;
    }
  }
  @media screen and (max-width: 992px) {
    text-align: left;
    .head-logo {
      width: 60%;
    }
  }
  @media (min-width: 992px) {
    &.scrolled {
      //max-height: 50px;
      .navbar {
        padding-bottom: 0 !important;
        .head-logo {
          display: none !important;
        }
      }
    }
    .navbar-expand-lg .navbar-collapse {
      display: none !important;
      flex-basis: auto;
    }
  }

  .navbar-toggler {
    border: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
    .animated-icon {
      width: 38px;
      height: 24px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      cursor: pointer;

      span {
        background: linear-gradient(135deg, #CEA662 60%, #583C0D);
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top .2s .3s,transform .2s;
        -moz-transition: top .2s .3s,transform .2s;
        -o-transition: top .2s .3s,transform .2s;
        transition: top .2s .3s,transform .2s;
        &:nth-child(1) {
          top: 0;
          width: 85%;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 10px;
          width: 60%;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
      &.open {
        span {
          padding-left: 0;
          background: linear-gradient(135deg, #CEA662 60%, #583C0D);
          &:nth-child(1) {
            top: 11px;
            width: 0;
            left: 50%;
          }
          &:nth-child(2) {
            //border-bottom: 5px dotted #fff;
            width: 100%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            //border-bottom: 5px dotted #fff;
            width: 100%;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            top: 11px;
            width: 0;
            left: 50%;
          }
        }
      }
      &:hover {
        span {
          width: 100%;
        }
      }
    }
  }
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(black, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-family: 'TTMussels', sans-serif;;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: normal;

  //animation-fill-mode: forwards;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: -80%;
  top: 30%;
  &.to-left {
    right: 105%;
    top: 30%;
  }
}
.nav__submenu-item {
  &:hover {
    .tooltiptext {
      animation: 2s fadeIn ;
    }
  }
}
@keyframes fadeIn {
  to {
    visibility: visible;
  }
}

</style>
