<template>
  <div id="homepage">
    <div class="bg-block d-flex justify-content-between">
<!--      <div class="firefly d-none d-lg-block" v-for="item in 21" :key="item.id"></div>-->
<!--      <div class="firefly firefly-purple" v-for="item in 15" :key="item.id"></div>-->
      <div class="left-side-scale d-none d-lg-flex">
        <img src="../assets/home-back/right-side-scale.webp" class="img-fluid" alt="">
      </div>
      <div class="right-side-scale d-none d-lg-flex">
        <img src="../assets/home-back/left-side-scale.webp" class="img-fluid" alt="">
      </div>

      <div class="general-back_wrapper">
        <div class="general-back">
          <div class="back-shine">
            <div class="pulsed"></div>
          </div>
          <svg class="levi-wrapper" viewBox="0 0 1020 735" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g class="item-1">
              <path d="M139.5 639L119 645.5L124.5 670L149 687L177 683.5L167 655L139.5 639Z" fill="url(#paint0_linear_913_6813)"/>
              <path d="M129.5 633L119.5 645.5L139.5 639L151.5 625.5L129.5 633Z" fill="#EEEEEE"/>
              <path d="M152 625L139.5 639L167 654.5L182 642L152 625Z" fill="#8ECFE4"/>
              <path d="M182 642L167 654.5L177 682.5L188 668.5L182 642Z" fill="#008ACE"/>
            </g>
            <g class="item-2">
              <path d="M74.5 420.5L26.5 400L0 447.5C6.66667 465.667 20 502.4 20 504C20 505.6 54 520.667 71 528L92.5 480L74.5 420.5Z" fill="url(#paint1_linear_913_6813)"/>
              <path d="M61.5 393L27 400L74.5 420.5L102.5 407.5L61.5 393Z" fill="#EEEEEE"/>
              <path d="M102 407.5L74.5 420.5L92.5 480L125.5 467L102 407.5Z" fill="#8ECFE4"/>
              <path d="M125.5 467L92.5 480L71 528L105.5 510L125.5 467Z" fill="#008ACE"/>
            </g>
            <g class="item-3">
              <path d="M94.5 92.5L53.5 110L17.5 157L18.5 202L56.5 193.5L92.5 141L94.5 92.5Z" fill="url(#paint2_linear_913_6813)"/>
              <path d="M121 113L94.5 92.5L92.5 140L120 154L121 113Z" fill="#8ECFE4"/>
              <path d="M120 154L92.5 140L56.5 193L86 212L120 154Z" fill="#23AADB"/>
              <path d="M45 217.5L18.5 201.5L56.5 193.5L86 212L45 217.5Z" fill="#008ACE"/>
            </g>
            <g class="item-4">
              <path d="M929 611L881 668C881.833 687.667 883.6 727.4 884 729C884.4 730.6 927.5 733.333 949 734.5L1000.5 679.5L987 613.5L929 611Z" fill="url(#paint3_linear_913_6813)"/>
              <path d="M851 641L881 668L929 611L898 585L851 641Z" fill="#AAEBFF"/>
              <path d="M929.5 611L898.5 585L960 588.5L986.5 613.5L929.5 611Z" fill="#EEEEEE"/>
              <path d="M854 704.5L851.5 641L881 668L884 728.5L854 704.5Z" fill="#017BB7"/>
            </g>
            <g class="item-5">
              <path d="M976.5 285L977.5 253.5L1001.5 271L1020 305V331.5C1020 331.9 1001.33 324.333 992 320.5L976.5 285Z" fill="url(#paint4_linear_913_6813)"/>
              <path d="M957.5 265.5L977.5 253.5L976.5 284.5L955.5 293L957.5 265.5Z" fill="#AAEBFF"/>
              <path d="M976.5 284.5L955.5 293L975 330L992 320.5L976.5 284.5Z" fill="#23AADB"/>
              <path d="M992 320.5L975 330L1002 340L1020 331.5L992 320.5Z" fill="#017BB7"/>
            </g>
            <g class="item-6">
              <path d="M876 40L865.5 0L901 8L939.5 42.5L944.5 75.5H912L876 40Z" fill="url(#paint5_linear_913_6813)"/>
              <path d="M851 17.5L865.5 0L876 40L860 54.5L851 17.5Z" fill="#AAEBFF"/>
              <path d="M912 75.5L876 40L860 54.5L899 90L912 75.5Z" fill="#23AADB"/>
              <path d="M945 75.5H912L899 90L929.5 91L945 75.5Z" fill="#017BB7"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_913_6813" x1="153.5" y1="625" x2="153.5" y2="687" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
              <linearGradient id="paint1_linear_913_6813" x1="62.75" y1="393" x2="62.75" y2="528" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
              <linearGradient id="paint2_linear_913_6813" x1="69.25" y1="92.5" x2="69.25" y2="217.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
              <linearGradient id="paint3_linear_913_6813" x1="925.75" y1="585" x2="925.75" y2="734.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
              <linearGradient id="paint4_linear_913_6813" x1="987.75" y1="253.5" x2="987.75" y2="340" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
              <linearGradient id="paint5_linear_913_6813" x1="898" y1="0" x2="898" y2="91" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FD1E6"/>
                <stop offset="1" stop-color="#0098CF"/>
              </linearGradient>
            </defs>
          </svg>

          <img src="../assets/home-back/general_ill.webp" class="img-fluid d-none d-lg-inline" alt="">
          <img src="../assets/home-back/general_ill-mobile.webp" class="img-fluid d-flex d-lg-none" alt="">

          <svg class="light-wrapper" width="348" height="483" viewBox="0 0 348 483" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path style="mix-blend-mode:screen" d="M169.809 409.312C160.157 409.312 152.381 334.172 152.381 241.473C152.381 148.773 160.157 73.688 169.809 73.688C179.46 73.688 187.236 148.828 187.236 241.418C187.236 334.007 179.405 409.312 169.809 409.312Z" fill="url(#paint0_radial_947_6437)"/>
            <path style="mix-blend-mode:screen" d="M169.808 482.415C124.199 482.415 87.0825 374.522 87.0825 241.473C87.0825 108.423 124.033 0.584955 169.808 0.584957C215.583 0.584959 252.534 108.423 252.534 241.473C252.534 374.522 215.363 482.415 169.808 482.415Z" fill="url(#paint1_radial_947_6437)"/>
            <path style="mix-blend-mode:screen" d="M2.59813e-05 241.418C2.63109e-05 233.876 77.7623 227.656 174 227.656C270.238 227.656 348 233.876 348 241.418C348 248.959 270.127 255.29 174 255.29C77.8726 255.29 2.56444e-05 249.124 2.59813e-05 241.418Z" fill="url(#paint2_radial_947_6437)"/>
            <path style="mix-blend-mode:screen" d="M88.0202 327.347C84.2148 323.548 119.677 282.098 167.161 234.647C214.646 187.196 256.229 151.855 259.759 155.654C263.289 159.452 228.103 200.903 180.563 248.354C133.023 295.804 91.7704 331.145 88.0202 327.347Z" fill="url(#paint3_radial_947_6437)"/>
            <path style="mix-blend-mode:screen" d="M88.0202 155.653C91.7704 151.855 133.354 187.25 180.839 234.646C228.323 282.042 263.564 323.603 260.035 327.346C256.505 331.089 214.646 295.749 167.161 248.353C119.677 200.957 84.2148 159.396 88.0202 155.653Z" fill="url(#paint4_radial_947_6437)"/>
            <defs>
              <radialGradient id="paint0_radial_947_6437" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(164.476 243.606) rotate(90) scale(167.826 17.4866)">
                <stop stop-color="white"/>
                <stop offset="0.14" stop-color="#FFBA55"/>
                <stop offset="0.21" stop-color="#FF9800"/>
                <stop offset="0.24" stop-color="#DA8200"/>
                <stop offset="0.29" stop-color="#AD6700"/>
                <stop offset="0.34" stop-color="#834E00"/>
                <stop offset="0.39" stop-color="#603900"/>
                <stop offset="0.45" stop-color="#422700"/>
                <stop offset="0.51" stop-color="#2A1900"/>
                <stop offset="0.59" stop-color="#170E00"/>
                <stop offset="0.67" stop-color="#0A0600"/>
                <stop offset="0.78" stop-color="#020100"/>
                <stop offset="1"/>
              </radialGradient>
              <radialGradient id="paint1_radial_947_6437" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(177.312 247.306) rotate(90) scale(240.228 82.0188)">
                <stop stop-color="white"/>
                <stop offset="0.14" stop-color="#FFBA55"/>
                <stop offset="0.21" stop-color="#FF9800"/>
                <stop offset="0.24" stop-color="#DA8200"/>
                <stop offset="0.29" stop-color="#AD6700"/>
                <stop offset="0.34" stop-color="#834E00"/>
                <stop offset="0.39" stop-color="#603900"/>
                <stop offset="0.45" stop-color="#422700"/>
                <stop offset="0.51" stop-color="#2A1900"/>
                <stop offset="0.59" stop-color="#170E00"/>
                <stop offset="0.67" stop-color="#0A0600"/>
                <stop offset="0.78" stop-color="#020100"/>
                <stop offset="1"/>
              </radialGradient>
              <radialGradient id="paint2_radial_947_6437" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(174 261.442) rotate(-180) scale(174 13.8939)">
                <stop stop-color="#FF9800"/>
                <stop offset="0.02" stop-color="#EF8E00"/>
                <stop offset="0.09" stop-color="#BD7100"/>
                <stop offset="0.17" stop-color="#905600"/>
                <stop offset="0.25" stop-color="#693F00"/>
                <stop offset="0.34" stop-color="#492B00"/>
                <stop offset="0.43" stop-color="#2E1B00"/>
                <stop offset="0.53" stop-color="#1A0F00"/>
                <stop offset="0.64" stop-color="#0B0700"/>
                <stop offset="0.78" stop-color="#030200"/>
                <stop offset="1"/>
              </radialGradient>
              <radialGradient id="paint3_radial_947_6437" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(178.096 245.575) rotate(135.054) scale(121.548 9.72386)">
                <stop stop-color="#FF9800"/>
                <stop offset="0.02" stop-color="#EF8E00"/>
                <stop offset="0.09" stop-color="#BD7100"/>
                <stop offset="0.17" stop-color="#905600"/>
                <stop offset="0.25" stop-color="#693F00"/>
                <stop offset="0.34" stop-color="#492B00"/>
                <stop offset="0.43" stop-color="#2E1B00"/>
                <stop offset="0.53" stop-color="#1A0F00"/>
                <stop offset="0.64" stop-color="#0B0700"/>
                <stop offset="0.78" stop-color="#030200"/>
                <stop offset="1"/>
              </radialGradient>
              <radialGradient id="paint4_radial_947_6437" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(158.92 256.582) rotate(-135.054) scale(121.548 9.72386)">
                <stop stop-color="#FF9800"/>
                <stop offset="0.02" stop-color="#EF8E00"/>
                <stop offset="0.09" stop-color="#BD7100"/>
                <stop offset="0.17" stop-color="#905600"/>
                <stop offset="0.25" stop-color="#693F00"/>
                <stop offset="0.34" stop-color="#492B00"/>
                <stop offset="0.43" stop-color="#2E1B00"/>
                <stop offset="0.53" stop-color="#1A0F00"/>
                <stop offset="0.64" stop-color="#0B0700"/>
                <stop offset="0.78" stop-color="#030200"/>
                <stop offset="1"/>
              </radialGradient>
            </defs>
          </svg>

          <div class="infin-path-wrapper d-none d-lg-block">

            <div class="ice-piece" :class="'ice-piece__' + index" v-for="(item, index) in ice_pieces" :key="item.id">
              <img :src="getIcePieces(item.image)" class="img-fluid"  alt="">
            </div>
            <span class="tooltip-finger">
              <img src="../assets/tap-finger-4.svg" alt="tap-finger" class="img-fluid">
            </span>
            <svg class="svgwave" width="1170" height="274" viewBox="0 0 1170 274" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <path id="wavepath" d="M395 18.9996C205.5-4.0009 11.2194 21.1163 11.2194 133.999 11.2194 205.484 140.106 252.486 264.558 252.486 383.539 252.486 474.954 188.237 571.585 144.725 668.215 101.213 814.76 22.5108 950.043 22.5108 1085.33 22.5108 1159.18 65.7811 1159.18 144.725 1159.18 223.668 1029.3 296.113 829 246.5"/>
              </defs>
              <text text-anchor="middle">
                <textPath xlink:href="#wavepath" startOffset="50%">
                  <animate attributeName="startOffset" from="150%" to="-50%" begin="0s" dur="30s" repeatCount="indefinite" ></animate>
                  <router-link to="/story">{{$t(`quotes[${Math.floor(Math.random() * $t(`quotes`).length)}]`)}}</router-link>
                </textPath>
              </text>
            </svg>
          </div>
        </div>
        <div class="sun-wrapper">
          <img src="../assets/sun-wrapper.svg" class="img-fluid" alt="">
        </div>
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
            <svg class="animated-runes" width="54" height="83" viewBox="0 0 54 83" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path filter="url(#filter2_d_241_10)" d="M5 79.0001V29.304V28.5V26V4" stroke="#F6DE6F" stroke-opacity=".85" stroke-width="2" stroke-linejoin="round"/>
              <path filter="url(#filter0_d_241_10)" d="M49 30L5 5"  stroke="#F6DE6F" stroke-width="2" stroke-opacity=".85" stroke-linejoin="round"/>
              <path filter="url(#filter1_d_241_10)" d="M48 55.0001L5 30.0001" stroke="#F6DE6F" stroke-opacity=".85" stroke-width="2" stroke-linejoin="round"/>
              <path filter="url(#filter3_d_241_10)" d="M48 79V29" stroke="#F6DE6F" stroke-width="2" stroke-opacity=".85" stroke-linejoin="round"/>

              <defs>
                <filter id="filter0_d_241_10" x="0.505859" y="0.130493" width="54.9883" height="36.739" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="2.5"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.952941 0 0 0 0 0.803922 0 0 0 0 0.380392 0 0 0 1 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_241_10"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_241_10" result="shape"/>
                </filter>
                <filter id="filter1_d_241_10" x="0.497559" y="25.1356" width="54.0049" height="36.729" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="2.5"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.952941 0 0 0 0 0.803922 0 0 0 0 0.380392 0 0 0 1 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_241_10"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_241_10" result="shape"/>
                </filter>
                <filter id="filter2_d_241_10" x="0" y="0" width="12" height="85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="2.5"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.952941 0 0 0 0 0.803922 0 0 0 0 0.380392 0 0 0 1 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_241_10"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_241_10" result="shape"/>
                </filter>
                <filter id="filter3_d_241_10" x="43" y="25" width="12" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="2.5"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.952941 0 0 0 0 0.803922 0 0 0 0 0.380392 0 0 0 1 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_241_10"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_241_10" result="shape"/>
                </filter>
              </defs>
            </svg>
          </label>
          <span
              v-for="item in $t('menu_items')"
              :key="item.id"
              class="menu-item"
              :class="{ active: item.title === $t('menu_items[3].title') && !activeMenuItemChecked}"
              style="cursor: pointer"
              @click="subHidden(item.title)"
          >
            <span>{{ item.title }}</span>
            <span class="tooltiptext">{{ item.description }}</span>
          </span>
          <div v-show="sub_hidden" class="sub-menu_wrapper">
            <span
                v-for="item in $t('menu_items_sub')"
                :key="item.id"
                class="menu-item"
                style="cursor: pointer"
                @click="subHidden(item.title)"
            >
              <span>{{ item.title }}</span>
              <span class="tooltiptext"> {{ item.description }} </span>
            </span>
          </div>
          <span class="tooltip-finger">
            <img src="../assets/tap-finger-1.svg" alt="tap-finger" class="img-fluid">
          </span>
        </nav>

      </div>
    </div>

    <div class="bg-lava">
      <img src="../assets/home-back/lava-2_cropped.webp" class="img-fluid" alt="">
      <div class="bg-lava-bottom">
        <img src="../assets/home-back/lava-bottom_new.webp" class="img-fluid" alt="">
      </div>
    </div>
    <cards-news></cards-news>
    <info-block></info-block>

<!--    <section id="cards-block" class="pb-5">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <Tilt class="col-12 col-md-8 col-lg-8 col-xl-4 col-xxl-4" v-for="item in cards_section_arr" :key="item.id" :options="{perspective: 1000, max: 5, reverse: true, scale: 1.05}">-->
<!--            <div class="card-wrapper row d-none d-lg-flex">-->
<!--              <div class="col-12">-->
<!--                <img :src="getImgUrl(item.image)" class="img-fluid" alt="">-->
<!--                <div class="card-title">{{item.title}}</div>-->
<!--                <div class="card-desc" v-html="item.desc"></div>-->
<!--                <div class="socials-row my-2 my-xxl-4 d-flex justify-content-center">-->
<!--                  <a class="social-item" v-for="icon of social_icons" :key="icon.id">-->
<!--                    <i :class="icon.uni"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;            <img src="../assets/cards-content/papper-bg.png" alt="">&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="card-wrapper row d-flex d-lg-none">-->
<!--              <div class="col-3 col-md-4"><img :src="getImgUrl(item.image)" class="img-fluid" alt=""></div>-->
<!--              <div class="col-9 col-md-8">-->
<!--                <div class="card-title">{{item.title}}</div>-->
<!--              </div>-->

<!--              <div class="col-12">-->
<!--                <div class="card-desc" v-html="item.desc"></div>-->
<!--              </div>-->
<!--              <div class="col-12">-->
<!--                <div class="socials-row my-2 my-xxl-4 d-flex flex-wrap justify-content-start">-->
<!--                  <a class="social-item mb-2" v-for="icon of social_icons" :key="icon.id">-->
<!--                    <i :class="icon.uni"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;            <img src="../assets/cards-content/papper-bg.png" alt="">&ndash;&gt;-->
<!--            </div>-->
<!--          </Tilt>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    <externalNavBtns></externalNavBtns>-->
  </div>
</template>

<script>

// import externalNavBtns from "@/components/ExternalNavBtns";
import CardsNews from "@/components/CardsNews";
// import Tilt from 'vanilla-tilt-vue'
import InfoBlock from "@/components/InfoBlock";


export default {
  name: "Home",
  components: {CardsNews, InfoBlock},
  data() {
    return {

      cards_section_arr: [
        {title: 'Имя Фамилия', image: 'item-1', desc: `<strong>РУНИМЕРМАГ</strong> — ведущая универсальная e-commerce платформа в России. Оборот от продаж товаров и услуг (GMV) Ozon вырос на 125% в 2021 году. Группа также управляет ведущим российским онлайн-турагентством Ozon.`},
        {title: 'Имя Фамилия', image: 'item-2', desc: `<strong>РУНИМЕРМАГ</strong> — ведущая универсальная e-commerce платформа в России. Оборот от продаж товаров и услуг (GMV) Ozon вырос на 125% в 2021 году. Группа также управляет ведущим российским онлайн-турагентством Ozon.`},
        {title: 'Имя Фамилия', image: 'item-3', desc: `<strong>РУНИМЕРМАГ</strong> — ведущая универсальная e-commerce платформа в России. Оборот от продаж товаров и услуг (GMV) Ozon вырос на 125% в 2021 году. Группа также управляет ведущим российским онлайн-турагентством Ozon.`},
      ],
      social_icons: [
        {uni: 'bi-meta'},
        {uni: 'bi-twitter'},
        {uni: 'bi-instagram'},
        {uni: 'bi-linkedin'},
      ],
      tabs_arr: [
        {title: 'Рунопедия'},
        {title: 'Рунотека'},
        {title: 'Рунивермаг'},
        {title: 'Рунопрактика'},
        {title: 'О руноделе'},
        {title: 'Темеор'},
      ],
      ice_pieces: [
        {image: 'piece-1'},
        {image: 'piece-2'},
        {image: 'piece-3'},
        {image: 'piece-4'},
        {image: 'piece-5'},
        {image: 'piece-6'},
        {image: 'piece-7'},
        {image: 'piece-8'},
        {image: 'piece-9'}
      ],
      // menu_items: [
      //   {title: 'Рунатека', description: 'Значения рун', link: ''},
      //   {title: 'Рунивермаг', description: 'Тематический маркетплейс', link: ''},
      //   {title: 'Рунапрактика', description: 'Помощь специалистов', link: ''},
      //   {title: 'Проекты', description: '', link: ''},
      //   {title: 'Рунафорум', description: 'Место обмена опытом', link: ''},
      //   {title: 'Рунафонд', description: 'Архив формул', link: ''},
      //
      // ],
      // menu_items_sub: [
      //   {title: 'Мифонавтика', description: 'Реестр богов и миров севера', link: ''},
      //   {title: 'Runapedia', description: 'База знаний о рунах', link: ''},
      //   {title: 'Руниверситет', description: 'Центр обучения Руноделу', link: ''},
      // ],
      sub_hidden: false,
      activeMenuItemChecked: false,
    }
  },
  methods: {
    getImgUrl(pic) {
      return require('../assets/cards-content/'+ pic + ".png")
    },
    getIcePieces(pic) {
      return require('../assets/ice-pieces/'+ pic + ".png")
    },
    subHidden(title) {
      if(title === 'Проекты' || title === 'Projects') {
        this.sub_hidden = !this.sub_hidden;
        this.activeMenuItemChecked = !this.activeMenuItemChecked
      }
      else if (title === 'Рунатека' || title === 'Runateka') {
        window.open('https://runas-project.web.app');
      }
      else if (title === 'Рунивермаг' || title === 'Runivermage') {
        window.open('https://runivermage.web.app');
      }
      else if (title === 'Рунамедиа' || title === 'Runamedia') {
        this.$router.push('/animatedfilm');
      }
      else {
          this.$router.push('/preloader');
      }
    }
  },
  mounted() {
  },
  created() {
  }
}

</script>

<style lang="scss" scoped>

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
}

#homepage {
  position: relative;
  max-width: 100vw;
  background: url("../assets/home-back/night-topBack.webp") no-repeat top/100%;
  .bg-block {
    padding-top: 140px;
    position: relative;
    @media screen and (max-width: 992px) {
      padding-top: 80px;
    }
    .plazm-object {
      position: absolute;
      z-index: 15;
      top: calc(50px);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      //&:hover {
      //  animation: rotation 1s infinite linear;
      //}
    }

    .back-shine {
      z-index: -1;
      top: 5%;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 50%; height: 30%;
      .pulsed {
        margin: 0 auto;
        background: rgba(#FFB648, 0.25) ;
        border-radius: 100%;
        width: 100%; height: 100%;
        -webkit-animation: pulsing 2s infinite;
        animation: pulsing 2s infinite;
        filter: blur(4vw);
      }

    }
    @-webkit-keyframes pulsing {
      0% {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);
      }
    }

    @keyframes pulsing {
      0% {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);
      }
    }
    .general-back_wrapper {
      position: absolute;
      top: 5%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 9;
      width: 70%;
      .sun-wrapper {
        position: absolute;
        top: 6%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
      }
      .levi-wrapper {
        position: absolute;
        top: 6%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        max-width: 960px;
        .item-1 {
          animation: item1 5s 1s infinite ease-in-out;
          transform-origin: left;
        }
        .item-2 {
          animation: item2 4s 1s infinite ease-in-out;
          transform-origin: left top;
        }
        .item-3 {
          animation: item2 5s 1s infinite ease-in-out;
          transform-origin: left top;
        }
        .item-4 {
          animation: item2 4s 1s infinite ease-in-out;
          transform-origin: right;
        }
        .item-5 {
          animation: item2 3s 1s infinite ease-in-out;
          transform-origin: right bottom;
        }
        .item-6 {
          animation: item2 5s 1s infinite ease-in-out;
          transform-origin: right;
        }
        @keyframes item1 {
          0%{transform: rotate(-1deg);}
          50%{transform: rotate(-3deg);}
          100%{transform: rotate(-1deg); }
        }
        @keyframes item2 {
          0%{transform: rotate(-1deg);}
          50%{transform: rotate(-2deg);}
          100%{transform: rotate(-1deg);}
        }
      }
      .light-wrapper {
        position: absolute;
        top: 20%;

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        z-index: -2;
        animation: lightswap 2s 1s infinite ease-in-out;
        transform-origin: bottom;

      }
      @keyframes lightswap {
        0%{transform: translateY(150%)}
        100%{transform: translateY(-40%)}
      }

      @media screen and (max-width: 1200px) {
        @keyframes lightswap {
          0%{transform: translateY(80%)}
          100%{transform: translateY(-40%)}
        }
        .light-wrapper {
          width: 35%;
        }

      }
      @media screen and (max-width: 992px) {
        position: relative;
        width: 100%;
        .levi-wrapper {
          width: 95%;
        }
        .sun-wrapper {
         width: 70%;
        }
        @keyframes lightswap {
          0%{transform: translateY(40%)}
          100%{transform: translateY(-40%)}
        }
        .light-wrapper {
          width: 25%;
        }

      }

    }
    .infin-path-wrapper {
      position: absolute;
      z-index: 10;
      top: 35%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      .tooltip-finger {
        position: absolute;
        top: 50%;
        right: 10vw;
        width: 5vw;
        //transform: rotate(210deg);
        display: none;

      }
      &:hover {
        .tooltip-finger {
          display: block;
        }
      }
      .ice-piece {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 2%;
        &:nth-child(1) {
          bottom: -90%;
          left: -22%;
          transform: translateX(-10vw);
          animation: ice_piece_2 3s 1s infinite ease-in-out;
          transform-origin: left top;
        }
        &:nth-child(2) {
          bottom: -90%;
          right: -15%;
          transform: translateX(7vw);
          animation: ice_piece_2 4s 1s infinite ease-in-out;
          transform-origin: left;
        }
        &:nth-child(3) {
          bottom: -90%;
          right: -33%;
          transform: translateX(15vw);
          animation: ice_piece_1 1s 1s infinite ease-in-out;
          transform-origin: left;
        }
        &:nth-child(4) {
          bottom: -60%;
          right: -40%;
          transform: translateX(12vw);
          animation: ice_piece_2 3s 1s infinite ease-in-out;
          transform-origin: bottom left;
        }
        &:nth-child(5) {
          bottom: -30%;
          right: -40%;
          transform: translateX(12vw);
          animation: ice_piece_1 2s 1s infinite ease-in-out;
          transform-origin: left top;
        }
        &:nth-child(6) {
          bottom: -25%;
          left: -40%;
          transform: translateX(-15vw);
          animation: ice_piece_1 2s 1s infinite ease-in-out;
          transform-origin: right;
        }
        &:nth-child(7) {
          bottom: -50%;
          left: -30%;
          transform: translateX(-12vw);
          animation: ice_piece_1 3s 1s infinite ease-in-out;
          transform-origin: right;
        }
        &:nth-child(8) {
          bottom: -82%;
          left: -32%;
          transform: translateX(-5vw);
          animation: ice_piece_1 3s 1s infinite ease-in-out;
          transform-origin: right;
        }
        &:nth-child(9) {
          bottom: -65%;
          right: -22%;
          transform: translateX(7vw);
          animation: ice_piece_2 2s 1s infinite ease-in-out;
          transform-origin: right;
        }
        @keyframes ice_piece_1 {
          0%{transform: rotate(-2deg);}
          50%{transform: rotate(-12deg);}
          100%{transform: rotate(-2deg); }
        }
        @keyframes ice_piece_2 {
          0%{transform: rotate(-4deg);}
          50%{transform: rotate(-18deg);}
          100%{transform: rotate(-4deg);}
        }
      }
      svg {
        &.svgwave {
          margin-top: 5%;
          width: 100%;
          height: auto;
          max-width: 1250px;
          overflow: visible;
          path {
            fill: transparent;
            //stroke: #02FFFC;
            stroke-width: 1px;
          }
          text {
            font-family: 'TT Mussels', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: .35rem;
            fill: white;
            a {
              fill: white;
              text-decoration: none;
              &:hover {
                fill: dimgrey;
              }
            }
          }
        }
      }

      .back-wave {
        z-index: -1;
        width: 100%;
        position: absolute;
        //top: -170%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .bg-lava {
    position: relative;
    margin-top: -240px;
    max-width: 100vw;
    .bg-lava-bottom {
      z-index: 2;
      position: absolute;
      bottom: 10%; left: 0; right: 0;
      //margin-top: -600px;
      max-width: 100vw; height: auto;
    }
  }


  .firefly {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
    }
    &::before {
      background: black;
      opacity: 0.4;
      animation: drift ease alternate infinite;
    }


    &::after {
      background: white;
      opacity: 0;
      box-shadow: 0 0 0 0 #FFA100;
      animation: drift ease alternate infinite, flash ease infinite;
    }

  }

  $quantity: 15;
    // Randomize Fireflies Motion
  @for $i from 1 through $quantity {
    $steps: random(12) + 16;
    $rotationSpeed: random(10) + 8s;

    .firefly:nth-child(#{$i}) {
      animation-name: move#{$i};
      &::before {
        animation-duration: #{$rotationSpeed}
      }
      &::after {
        animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
        animation-delay: 0ms, random(8000) + 500ms
      }
    }
    @keyframes move#{$i} {
      @for $step from 0 through $steps {
        #{$step * (100 / $steps)}% {
          transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(random(75) / 100 + .25)
        }
      }
    }
  }

  @keyframes drift {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }

  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0 0 #FFA100;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw #FFA100;
    }
  }
}

#cards-block {
  margin-top: 180px;
  background: url("../assets/cards-block-bg_2.webp") left, url("../assets/cards-block-bg.webp") no-repeat;
  background-size: cover;
  .card-wrapper {
    background: url("../assets/cards-content/papper-bg.webp") no-repeat top/100%;
    //background-size: cover;
    padding: 24px 24px 50px;
    margin-bottom: 50px;
    aspect-ratio: 3/4;
    cursor: pointer;
    img {
      margin-top: -115px;
      margin-bottom: 16px;
    }
    .card-title {
      font-family: 'TT Mussels', sans-serif;
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 12px;
    }
    .card-desc {
      //margin-bottom: 40%;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
    }
    .socials-row {
      .social-item {
        text-decoration: none;
        color: #E3C679;
        background: rgba(black, 0.75);
        padding: 8px 12px;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        i {
          font-size: 18px;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      padding: 20px 50px 120px;
    }
  }
  @media screen and (max-width: 1200px) {
    .card-wrapper {
      background: url("../assets/cards-content/papper-bg_mobile.webp") no-repeat top/100%;
      aspect-ratio: 4/3;
      align-items: center;
      margin-bottom: 0;
      //display: flex;
      //flex-direction: row;
      //flex-wrap: wrap;
      img {
        margin-top: 0;
        //max-width: 150px;
      }
      .card-title {
        font-size: 24px;
        line-height: normal;
        text-align: left;
      }
      .card-desc {
        font-size: 13px;
        line-height: normal;
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 20px 25px 120px;
  }
  @media screen and (max-width: 576px) {
    //margin-top: 450px;
    .card-wrapper {
      padding: 16px 4px 24px;
      img {
        margin-bottom: 12px;
      }
      .socials-row {
        justify-content: center !important;
        .social-item {
          padding: 6px 10px;
          margin-right: 8px;
          cursor: pointer;
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}

//@media screen and (max-width: 700px) {
//  body {
//    padding: 170px 0 0 0;
//    width: 100%
//  }
//}

.menu-item, .menu-open-button {
  background: #EEEEEE;
  //border-radius: 100%;
  width: 9vw;
  height: 9vw;
  margin-left: -4.5vw;
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  @media screen and (max-width: 992px) {
    width: 18vw;
    height: 20vw;
    margin-left: -9vw;
  }
}

.menu-open {
  display: none;
  &:not(:checked) {
    ~ .sub-menu_wrapper {
      display: none;
    }
  }
}

.menu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 40vw;
  height: 40vw;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  z-index: 15;
  padding-top: 30%;
  .tooltip-finger {
    position: absolute;
    top: 34vw;
    left: 17vw;
    width: 5vw;
    //transform: rotate(210deg);
    display: none;

  }
  &:hover {
    .tooltip-finger {
      display: block;
    }
  }
  .sub-menu_wrapper {
    z-index: 15;
    width: 100%; height: 100%;
    transform: translate3d(0, 13vw, 0);
    .menu-item {
      top: 0;
      width: 9vw;
      height: 10vw;
      opacity: 1;
      background: url("../assets/home-back/menu-item.png") no-repeat center/100%;
      //background: #2c3e50;
      border-radius: 0;
      text-decoration: none;
      transform: perspective(500px);
      transform-style: preserve-3d;
      &:nth-child(1) {
        -webkit-transform: translate3d(4.7vw, 5vw, 0);
        transform: translate3d(4.7vw, 5vw, 0);
        .tooltiptext {
          left: 100%;
          top: 75%;
        }
      }
      &:nth-child(2) {
        -webkit-transform: translate3d(-4.7vw, 5vw, 0);
        transform: translate3d(-4.7vw, 5vw, 0);
        .tooltiptext {
          right: 100%;
          top: 75%;
        }
      }
      &:nth-child(3) {
        -webkit-transform: translate3d(0, 13vw, 0);
        transform: translate3d(0, 13vw, 0);
        .tooltiptext {
          top: 100%;
          left: 0; right: 0;
          margin: 0 auto;
        }
      }
    }
    @media screen and (max-width: 992px) {
      .menu-item {
        top: 12vw;
        width: 18vw;
        height: 20vw;
        &:nth-child(1) {
          -webkit-transform: translate3d(9.4vw, 10vw, 0);
          transform: translate3d(9.4vw, 10vw, 0);
        }
        &:nth-child(2) {
          -webkit-transform: translate3d(-9.4vw, 10vw, 0);
          transform: translate3d(-9.4vw, 10vw, 0);
        }
        &:nth-child(3) {
          -webkit-transform: translate3d(0, 25vw, 0);
          transform: translate3d(0, 25vw, 0);
        }
      }
    }
  }
}

.menu-item {
  width: 9vw; height: 10vw;
  background: url("../assets/home-back/menu-item.png") no-repeat center/100%;
  border-radius: 0;
  opacity: 0;
  text-decoration: none;
  transform: perspective(500px);
  transform-style: preserve-3d;
  user-select: none;

  &.active {
    background: url("../assets/home-back/menu-item_unique.png") no-repeat center/100%;
  }
  span {
    //font-family: 'TT Mussels', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.15vw;
    color: black;
    line-height: 9.5vw;
  }
  .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba(black, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-family: 'TTMussels', sans-serif;;
    font-weight: 700;
    font-size: 0.75vw;
    line-height: normal;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
  @media screen and (max-width: 992px) {
    width: 18vw; height: 20vw;
    span {
      font-size: 2vw;
      line-height: 20vw;
    }
  }
}

//.menu-item {
//   transition: all 0.1s ease 0s;
//}

.menu-item {
  &:hover {
    //background: #EEEEEE;
    //color: #3290B1;
  }

  &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
    //-webkit-transition-duration: 180ms;
    //transition-duration: 180ms;
  }
}

@mixin afterBg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.menu-open-button {
  z-index: 10;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;

  svg.animated-runes {
    opacity: 0;
    width: 3.8vw;
    height: 7vw;
    margin-top: 10%;
    margin-left: 1%;
  }
  @media screen and (max-width: 992px) {
    svg.animated-runes {
      width: 7.6vw;
      height: 14vw;
      margin-top: 16%;
      margin-left: 2%;
    }
  }

  //box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  background: url("../assets/home-back/symbol_showflake.png") no-repeat (center / 100%);

  animation: shockwaveJump 1.5s ease-out infinite;
  &:after {
    @include afterBg;
    animation: shockwave 1.5s 1.5s ease-out infinite;
  }

  &:before {
    @include afterBg;
    animation: shockwave 1.5s 1.5s ease-out infinite;
  }

  &:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

}

.menu-open:checked {
  + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    //-webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(2, 2) translate3d(0, 0, 0);
    background: url("../assets/snowflake_back.png") no-repeat center/100%;
    animation: none;
    border-radius: 0;
    z-index: 1;
    svg.animated-runes {
      opacity: 1;
      animation: svgDisappear 1s ease-in-out forwards;
      animation-delay: 10s;
      @keyframes svgDisappear {
        100% {opacity: 0;}
      }
      path {
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &:nth-child(1) {
          animation: dash_path1 2s ease-in-out forwards;
          stroke-dasharray: 200;
          stroke-dashoffset: -200;
        }
        &:nth-child(2) {
          animation: dash_path2 3s ease-in-out forwards;
          animation-delay: 1s;
        }
        &:nth-child(3) {
          animation: dash_path3 6s ease-in-out forwards;
          animation-delay: 1s;
        }
        &:nth-child(4) {
          stroke-dashoffset: -400;
          animation: dash_path4 4s ease-in-out forwards;
          animation-delay: 4s;
        }
      }
      @keyframes dash_path1 {
        100% {stroke-dashoffset: 0}
      }
      @keyframes dash_path2 {
        100% {stroke-dashoffset: 0;}

      }
      @keyframes dash_path3 {
        50% {stroke-dashoffset: 0;}
        100% {stroke-dashoffset: -400; transition: transform 1s;}
      }
      @keyframes dash_path4 {
        to {stroke-dashoffset: 0}
      }
      //@keyframes dash_path3 {
      //  to {stroke-dashoffset: 0; filter: url(#filter2_d_210_9);}
      //  95% {opacity: 1}
      //  100% {opacity: 0; transition: transform 1s;}
      //}
    }
    &:after {
      animation: none;
    }
    &:before {
      animation: none;
    }
  }

  ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    opacity: 1;
    z-index: 5;
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;

    &:nth-child(3) {
      -webkit-transform: translate3d(0, -10vw, 0);
      transform: translate3d(0, -10vw, 0);
      .tooltiptext {
        top: -25%;
        left: 0; right: 0;
        margin: 0 auto;
      }
    }

    &:nth-child(4) {
      -webkit-transform: translate3d(9vw, -5vw, 0);
      transform: translate3d(9vw, -5vw, 0);
      .tooltiptext {
        top: 0;
        left: 100%;
      }
    }

    &:nth-child(5) {
      -webkit-transform: translate3d(9vw, 5vw, 0);
      transform: translate3d(9vw, 5vw, 0);
      .tooltiptext {
        top: 0;
        left: 100%;
      }
    }

    &:nth-child(6) {
      -webkit-transform: translate3d(0, 10vw, 0);
      transform: translate3d(0, 10vw, 0);
      .tooltiptext {
        top: 100%;
        left: 0; right: 0;
        margin: 0 auto;
      }
    }

    &:nth-child(7) {
      -webkit-transform: translate3d(-9vw, 5vw, 0);
      transform: translate3d(-9vw, 5vw, 0);
      .tooltiptext {
        top: 0;
        right: 100%;
      }
    }

    &:nth-child(8) {
      -webkit-transform: translate3d(-9vw, -5vw, 0);
      transform: translate3d(-9vw, -5vw, 0);
      .tooltiptext {
        top: 0;
        right: 100%;
      }
    }

    //&:nth-child(9) {
    //  -webkit-transform: translate3d(4.7vw, 18vw, 0);
    //  transform: translate3d(4.7vw, 18vw, 0);
    //}
    //
    //&:nth-child(10) {
    //  -webkit-transform: translate3d(-4.7vw, 18vw, 0);
    //  transform: translate3d(-4.7vw, 18vw, 0);
    //}
    //
    //&:nth-child(11) {
    //  -webkit-transform: translate3d(0, 27vw, 0);
    //  transform: translate3d(0, 26vw, 0);
    //}
  }

  @media screen and (max-width: 992px) {
    ~ .menu-item {
      &:nth-child(3) {
        -webkit-transform: translate3d(0, -20vw, 0);
        transform: translate3d(0, -20vw, 0);
      }
      &:nth-child(4) {
        -webkit-transform: translate3d(18vw, -10vw, 0);
        transform: translate3d(18vw, -10vw, 0);
      }

      &:nth-child(5) {
        -webkit-transform: translate3d(18vw, 10vw, 0);
        transform: translate3d(18vw, 10vw, 0);
      }
      &:nth-child(6) {
        -webkit-transform: translate3d(0, 20vw, 0);
        transform: translate3d(0, 20vw, 0);
      }

      &:nth-child(7) {
        -webkit-transform: translate3d(-18vw, 10vw, 0);
        transform: translate3d(-18vw, 10vw, 0);
      }

      &:nth-child(8) {
        -webkit-transform: translate3d(-18vw, -10vw, 0);
        transform: translate3d(-18vw, -10vw, 0);
      }
    }
  }
}


@keyframes shockwaveJump {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.6);
  }
  55% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.15), inset 0 0 1px rgba(0,0,0,0.15);
  }
  95% {
    box-shadow: 0 0 50px rgba(0,0,0,0), inset 0 0 30px rgba(0,0,0,0);
  }
  100% {
    transform: scale(2.25);

  }
}

</style>
