<template>
  <section id="info-block" :class="{ active: !showingFullText}">
    <div class="container">
      <div
        class="info-wrapper"
        :class="{ active: showingFullText}"
      >
          <div class="info-wrapper__content" :class="{ active: showingFullText}">
              <p class="info_title text-center">{{$t('info_quote[0]')}}</p>

              <p class="d-none d-lg-block">{{$t('info_quote[1]')}}</p>
              <p class="d-block d-lg-none">{{$t('info_quote_mobile[1]')}}</p>

              <p class="d-none d-lg-block info-inner" :class="{ active: !showSecondText}">
                  {{$t('info_quote[2]')}}
              </p>
              <p class="d-block d-lg-none info-inner" :class="{ active: !showSecondText}">
                  {{$t('info_quote_mobile[2]')}}
              </p>

              <button class="moreless-btn mb-4" @click="showSecondText = !showSecondText">
                  <i :class="[showSecondText ? 'bi-chevron-double-up' : 'bi-chevron-double-down']"></i>
              </button>
          </div>


        <button class="moreless-btn moreless-btn_head" @click="showingFullText = !showingFullText">
            {{ showingFullText ? $t('info_btn_name[0]') : $t('info_btn_name[1]') }}
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "InfoBlock",
  data() {
    return {
      showingFullText: false,
      showSecondText: false
    }
  },
}
</script>

<style lang="scss" scoped>
  #info-block {
    width: 60%;
    position: relative;
    //position: absolute;
    //top: 42%;
    //top: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;

    .info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem 2rem;

      border-radius: 4px;

      transition: all 1s ease-in-out;
      background: rgba(black, 0.7);
      box-shadow: 0 14px 28px rgba(purple,0.15), 0 10px 10px rgba(purple,0.11);
      &.active {
        background: none;
        box-shadow: none;
        align-items: center;
      }
      &__content {

        display: -webkit-box;
        -webkit-line-clamp: initial;
        max-height: 90em;

        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &.active {
          -webkit-line-clamp: 0;
          max-height: 0;
        }
        .info-inner {
          display: -webkit-box;
          -webkit-line-clamp: initial;
          max-height: 70em;

          -webkit-box-orient: vertical;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          &.active {
            -webkit-line-clamp: 0;
            max-height: 0;
          }
        }
      }
      p {

        //color: navajowhite;
        margin-bottom: 24px;
        color: #FFFFFF;
        &.info_title {
          font-size: 24px;
        }

      }
      .moreless-btn {
        border: 2px rgba(purple,0.5) solid;
        border-radius: 5px;
        background: rgba(black, 0.75);
        color: navajowhite;
        padding: 8px 24px;
        box-shadow: 0 1px 3px rgba(purple,0.12), 0 1px 2px rgba(purple,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &_head {
          font-size: 1.25rem;
        }
        &:hover {
          box-shadow: 0 14px 28px rgba(purple,0.25), 0 10px 10px rgba(purple,0.22);
        }

      }
    }
    @media screen and (min-width: 1900px) {
      width: 60%;
      //top: 50%;
    }
    @media screen and (max-width: 1900px) {
      width: 60%;
      //top: 48%;
    }
    @media screen and (max-width: 1700px) {
      width: 60%;
      //top: 44%;
    }
    @media screen and (max-width: 1400px) {
      width: 70%;
      //top: 42%;
    }
    @media screen and (max-width: 1200px) {
      width: 90%;
      //top: 40%;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      padding: 16px 4px;
      position: relative;
      //top: -155vw;
      &.active {
        //margin-bottom: -155vw;
      }
      .info-wrapper {
        &__content {
          max-height: 200em;
        }
        &.active {
        }
      }
    }
    @media screen and (max-width: 768px) {
      //top: -140vw;
      &.active {
        //margin-bottom: -140vw;
      }
    }
    @media screen and (max-width: 576px) {
      //top: -110vw;
      &.active {
        //margin-bottom: -110vw;
      }
      .info-wrapper {
        padding: 36px 18px;
        &__content {
          max-height: 300em;
          .info-inner {
            max-height: 300em;
          }
        }
      }
  }

  }
</style>
