<template>
  <select
      v-model="$i18n.locale"
      @change="changeLanguage"
      class="form-select form-select-sm"
      onfocus="this.size=0"
      onchange="this.size=1; this.blur()"

  >
    <option value="en">ENG</option>
    <option value="ru">RUS</option>
  </select>
</template>

<script>
export default {
  name: "Language",
  methods: {
    changeLanguage(obj){
      localStorage.setItem('language',obj.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
$form-select-bg: transparent;

.form-select {
  background-color: transparent;
  color: #CEA662;
  font-weight: 600;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  border-radius: 0;
  //padding: 10px 10px;

  option {
    background-color: black;
    border: none;
    outline: 0;
    border-radius: 0;
    color: #CEA662;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      background: #2c3e50!important;
    }
  }
  &:focus {
    outline: 0;
    box-shadow: none;
    option {
      &:checked {
        background-color: black;
        color: #CEA662;
      }
    }

  }
}
</style>
