<template>
  <div class="page-loader" v-if="!isloaded">
    <svg width="121" height="117" viewBox="0 0 121 117" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_ii_133_5)">
        <path class="triangle trian-1" d="M31.2665 25.7532L31.0582 7.17552L47.043 16.6447L31.2665 25.7532Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-2" d="M38.2768 37.8955L54.2615 47.3647L54.0533 28.787L38.2768 37.8955Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-3" d="M74.2248 58.0865L90.2095 67.5557L90.0013 48.9781L74.2248 58.0865Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-4" d="M37.7897 79.1218L53.7745 88.591L53.5662 70.0133L37.7897 79.1218Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-5" d="M74.3378 100.355L90.3225 109.824L90.1143 91.2467L74.3378 100.355Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-6" d="M2.36258 58.6299L18.3473 68.0991L18.1391 49.5214L2.36258 58.6299Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-7" d="M74.1917 17.1598L90.1764 26.629L89.9682 8.0513L74.1917 17.1598Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-8" d="M67.8159 46.9856L67.6076 28.4079L83.5924 37.8771L67.8159 46.9856Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-9" d="M67.328 88.2123L67.1197 69.6346L83.1045 79.1038L67.328 88.2123Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-10" d="M31.4139 108.948L31.2057 90.37L47.1904 99.8392L31.4139 108.948Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-11" d="M103.243 67.4772L103.035 48.8995L119.019 58.3687L103.243 67.4772Z" stroke="white" stroke-width="2"/>
        <path class="triangle trian-12" d="M31.3802 68.0212L31.172 49.4436L47.1567 58.9128L31.3802 68.0212Z" stroke="white" stroke-width="2"/>
      </g>
      <defs>
        <filter id="filter0_ii_133_5" x="0.381836" y="5.40906" width="120.618" height="106.182" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="-1"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow_133_5"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="1"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.4 0"/>
          <feBlend mode="normal" in2="effect1_innerShadow_133_5" result="effect2_innerShadow_133_5"/>
        </filter>
      </defs>
    </svg>




<!--    <div class="cube" v-for="item of runes" :key="item.id">-->
<!--      <span class="letter">{{item.letter}}</span>-->
<!--    </div>-->
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      runes: [
        {letter: 'ᛟ'},
        {letter: 'ᚹ'},
        {letter: 'ᚺ'},
        {letter: 'ᚱ'}
      ],
      isloaded: false
    }
  },
  mounted() {
    document.onreadystatechange = () => {
      setTimeout(() => {
        if (document.readyState === "complete") {
          this.isloaded = true;
        }
      }, 5000)
    }
  },
}
</script>

<style lang="scss" scoped>
$colors: #8CC271, #69BEEB, #F5AA39, #E9643B;
// -----------------------------------------------------
.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  z-index: 999;
}
// -----------------------------------------------------
.cube{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      border: 1px solid nth($colors, $i);
    }
  }
  &:first-child {
    animation: left 1s infinite;
  }
  &:last-child {
    animation: right 1s infinite .5s;
  }
  span {
    font-family: 'TT Mussels', sans-serif;
    font-size: 24px;
    color: white;
  }
}
// -----------------------------------------------------
@keyframes left {
  40% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes right {
  40% {
    transform: translateX(60px);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes grow-and-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    stroke: #F5AA39;
  }
  60% {
    opacity: 1;
    stroke: #E0C493;
  }
  100% {
    opacity: 0;
  }
}
.triangle {
  stroke: transparent;
  animation: grow-and-fade 1100ms infinite;
}

.trian-1 {
  animation-delay: 200ms;
}

.trian-2 {
  animation-delay: 400ms;
}

.trian-3 {
  animation-delay: 600ms;
}

.trian-4 {
  animation-delay: 800ms;
}

.trian-5 {
  animation-delay: 1000ms;
}

.trian-6 {
  animation-delay: 1200ms;
}

.trian-7 {
  animation-delay: 1400ms;
}

.trian-8 {
  animation-delay: 1600ms;
}

.trian-9 {
  animation-delay: 1800ms;
}

.trian-10 {
  animation-delay: 2000ms;
}

.trian-11 {
  animation-delay: 2200ms;
}

.trian-12 {
  animation-delay: 2400ms;
}




</style>
