<template>
  <div class="page-loader">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-10 d-flex justify-content-between">
          <svg class="svg-letter" width="438" height="459" viewBox="0 0 438 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M202.944 171.478L176.815 156L177.156 186.367L202.944 171.478Z" />
            <path d="M211.215 185.805L211.555 216.172L185.426 200.693L211.215 185.805Z" />
            <path d="M261.029 243.961L260.688 213.594L234.9 228.483L261.029 243.961Z" />
            <path d="M210.544 242.544L210.885 272.911L184.756 257.432L210.544 242.544Z" />
            <path d="M261.185 302.132L260.844 271.765L235.056 286.653L261.185 302.132Z" />
            <path d="M161.788 214.342L162.129 244.709L136 229.231L161.788 214.342Z" />
            <path class="hidden-mark" d="M260.983 187.635L260.643 157.268L234.855 172.157L260.983 187.635Z" />
            <path d="M253.244 200.7L227.115 185.221L227.456 215.588L253.244 200.7Z" />
            <path d="M226.444 241.96L252.573 257.438L226.784 272.327L226.444 241.96Z" />
            <path class="hidden-mark" d="M203.146 285.975L177.018 270.497L177.358 300.864L203.146 285.975Z" />
            <path d="M275.871 213.424L302 228.902L276.212 243.791L275.871 213.424Z" />
            <path d="M203.1 229.65L176.971 214.172L177.311 244.539L203.1 229.65Z" />
            <path d="M338.944 93.4783L312.815 78L313.156 108.367L338.944 93.4783Z" />
            <path d="M347.215 107.805L347.555 138.172L321.426 122.693L347.215 107.805Z" />
            <path d="M397.029 165.961L396.688 135.594L370.9 150.483L397.029 165.961Z" />
            <path d="M346.544 164.544L346.885 194.91L320.756 179.432L346.544 164.544Z" />
            <path d="M397.185 224.132L396.844 193.765L371.056 208.653L397.185 224.132Z" />
            <path d="M297.788 136.342L298.129 166.709L272 151.231L297.788 136.342Z" />
            <path class="hidden-mark" d="M396.983 109.635L396.643 79.2681L370.855 94.1568L396.983 109.635Z" />
            <path d="M389.244 122.699L363.115 107.221L363.456 137.588L389.244 122.699Z" />
            <path d="M362.444 163.96L388.573 179.438L362.784 194.327L362.444 163.96Z" />
            <path class="hidden-mark" d="M339.147 207.975L313.018 192.497L313.358 222.864L339.147 207.975Z" />
            <path class="hidden-mark" d="M411.871 135.424L438 150.902L412.212 165.791L411.871 135.424Z" />
            <path d="M339.1 151.65L312.971 136.172L313.311 166.538L339.1 151.65Z" />
            <path d="M338.944 249.478L312.815 234L313.156 264.367L338.944 249.478Z" />
            <path d="M347.215 263.805L347.555 294.172L321.426 278.693L347.215 263.805Z" />
            <path d="M397.029 321.961L396.688 291.594L370.9 306.483L397.029 321.961Z" />
            <path d="M346.544 320.543L346.885 350.91L320.756 335.432L346.544 320.543Z" />
            <path class="hidden-mark" d="M397.185 380.132L396.844 349.765L371.056 364.653L397.185 380.132Z" />
            <path d="M297.788 292.342L298.129 322.709L272 307.231L297.788 292.342Z" />
            <path class="hidden-mark" d="M396.983 265.635L396.643 235.268L370.855 250.157L396.983 265.635Z" />
            <path d="M389.244 278.699L363.115 263.221L363.456 293.588L389.244 278.699Z" />
            <path d="M362.444 319.96L388.573 335.438L362.784 350.327L362.444 319.96Z" />
            <path d="M339.147 363.975L313.018 348.497L313.358 378.864L339.147 363.975Z" />
            <path class="hidden-mark" d="M411.871 291.424L438 306.902L412.212 321.791L411.871 291.424Z" />
            <path d="M339.1 307.65L312.971 292.172L313.311 322.539L339.1 307.65Z" />
            <path class="hidden-mark" d="M202.944 15.4783L176.815 0L177.156 30.367L202.944 15.4783Z" />
            <path d="M211.215 29.8047L211.555 60.1717L185.426 44.6934L211.215 29.8047Z" />
            <path d="M261.029 87.961L260.688 57.594L234.9 72.4827L261.029 87.961Z" />
            <path d="M210.544 86.5435L210.885 116.91L184.756 101.432L210.544 86.5435Z" />
            <path d="M261.185 146.132L260.844 115.765L235.056 130.653L261.185 146.132Z" />
            <path d="M161.788 58.3421L162.129 88.709L136 73.2307L161.788 58.3421Z" />
            <path class="hidden-mark" d="M260.983 31.6351L260.643 1.26814L234.855 16.1568L260.983 31.6351Z" />
            <path d="M253.244 44.6995L227.115 29.2212L227.456 59.5882L253.244 44.6995Z" />
            <path d="M226.444 85.9601L252.573 101.438L226.784 116.327L226.444 85.9601Z" />
            <path d="M203.146 129.975L177.018 114.497L177.358 144.864L203.146 129.975Z" />
            <path d="M275.871 57.4236L302 72.9019L276.212 87.7906L275.871 57.4236Z" />
            <path d="M203.1 73.6498L176.971 58.1715L177.312 88.5385L203.1 73.6498Z" />
            <path d="M202.944 327.478L176.815 312L177.156 342.367L202.944 327.478Z" />
            <path d="M211.215 341.805L211.555 372.172L185.426 356.693L211.215 341.805Z" />
            <path d="M261.029 399.961L260.688 369.594L234.9 384.483L261.029 399.961Z" />
            <path d="M210.544 398.543L210.885 428.91L184.756 413.432L210.544 398.543Z" />
            <path class="hidden-mark" d="M261.185 458.132L260.844 427.765L235.056 442.653L261.185 458.132Z" />
            <path d="M161.788 370.342L162.129 400.709L136 385.231L161.788 370.342Z" />
            <path d="M260.983 343.635L260.643 313.268L234.855 328.157L260.983 343.635Z" />
            <path d="M253.244 356.699L227.115 341.221L227.456 371.588L253.244 356.699Z" />
            <path d="M226.444 397.96L252.573 413.438L226.784 428.327L226.444 397.96Z" />
            <path class="hidden-mark" d="M203.146 441.975L177.018 426.497L177.358 456.864L203.146 441.975Z" />
            <path d="M275.871 369.424L302 384.902L276.212 399.791L275.871 369.424Z" />
            <path d="M203.1 385.65L176.971 370.172L177.312 400.539L203.1 385.65Z" />
            <path d="M66.9438 249.478L40.8151 234L41.1556 264.367L66.9438 249.478Z" />
            <path d="M75.2146 263.805L75.555 294.172L49.4264 278.693L75.2146 263.805Z" />
            <path d="M125.029 321.961L124.688 291.594L98.9002 306.483L125.029 321.961Z" />
            <path d="M74.5444 320.543L74.8848 350.91L48.7562 335.432L74.5444 320.543Z" />
            <path d="M125.185 380.132L124.844 349.765L99.0562 364.653L125.185 380.132Z" />
            <path class="hidden-mark" d="M25.7882 292.342L26.1287 322.709L0 307.231L25.7882 292.342Z" />
            <path class="hidden-mark" d="M124.983 265.635L124.643 235.268L98.8546 250.157L124.983 265.635Z" />
            <path d="M117.244 278.699L91.1154 263.221L91.4558 293.588L117.244 278.699Z" />
            <path d="M90.4441 319.96L116.573 335.438L90.7845 350.327L90.4441 319.96Z" />
            <path class="hidden-mark" d="M67.1465 363.975L41.0178 348.497L41.3583 378.864L67.1465 363.975Z" />
            <path d="M139.871 291.424L166 306.902L140.212 321.791L139.871 291.424Z" />
            <path d="M67.0997 307.65L40.9711 292.172L41.3115 322.539L67.0997 307.65Z" />
            <path class="hidden-mark" d="M66.9438 93.4783L40.8151 78L41.1556 108.367L66.9438 93.4783Z" />
            <path d="M75.2146 107.805L75.555 138.172L49.4264 122.693L75.2146 107.805Z" />
            <path d="M125.029 165.961L124.688 135.594L98.9002 150.483L125.029 165.961Z" />
            <path d="M74.5444 164.544L74.8848 194.91L48.7562 179.432L74.5444 164.544Z" />
            <path d="M125.185 224.132L124.844 193.765L99.0562 208.653L125.185 224.132Z" />
            <path class="hidden-mark" d="M25.7882 136.342L26.1287 166.709L0 151.231L25.7882 136.342Z" />
            <path d="M124.983 109.635L124.643 79.2681L98.8546 94.1568L124.983 109.635Z" />
            <path d="M117.244 122.699L91.1154 107.221L91.4558 137.588L117.244 122.699Z" />
            <path d="M90.4441 163.96L116.573 179.438L90.7845 194.327L90.4441 163.96Z" />
            <path class="hidden-mark" d="M67.1465 207.975L41.0178 192.497L41.3583 222.864L67.1465 207.975Z" />
            <path d="M139.871 135.424L166 150.902L140.212 165.791L139.871 135.424Z" />
            <path d="M67.0997 151.65L40.9711 136.172L41.3115 166.538L67.0997 151.65Z" />
          </svg>
          <svg class="svg-letter" width="438" height="459" viewBox="0 0 438 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="hidden-mark" d="M202.944 171.478L176.815 156L177.156 186.367L202.944 171.478Z" />
            <path class="hidden-mark" d="M211.215 185.805L211.555 216.172L185.426 200.693L211.215 185.805Z" />
            <path class="hidden-mark" d="M261.029 243.961L260.688 213.594L234.9 228.483L261.029 243.961Z" />
            <path class="hidden-mark" d="M210.544 242.544L210.885 272.911L184.756 257.432L210.544 242.544Z" />
            <path class="hidden-mark" d="M261.185 302.132L260.844 271.765L235.056 286.653L261.185 302.132Z" />
            <path class="hidden-mark" d="M161.788 214.342L162.129 244.709L136 229.231L161.788 214.342Z" />
            <path class="hidden-mark" d="M260.983 187.635L260.643 157.268L234.855 172.157L260.983 187.635Z" />
            <path class="hidden-mark" d="M253.244 200.7L227.115 185.221L227.456 215.588L253.244 200.7Z" />
            <path class="hidden-mark" d="M226.444 241.96L252.573 257.438L226.784 272.327L226.444 241.96Z" />
            <path class="hidden-mark" d="M203.146 285.975L177.018 270.497L177.358 300.864L203.146 285.975Z" />
            <path class="hidden-mark" d="M275.871 213.424L302 228.902L276.212 243.791L275.871 213.424Z" />
            <path class="hidden-mark" d="M203.1 229.65L176.971 214.172L177.311 244.539L203.1 229.65Z" />
            <path d="M338.944 93.4783L312.815 78L313.156 108.367L338.944 93.4783Z" />
            <path d="M347.215 107.805L347.555 138.172L321.426 122.693L347.215 107.805Z" />
            <path d="M397.029 165.961L396.688 135.594L370.9 150.483L397.029 165.961Z" />
            <path d="M346.544 164.544L346.885 194.91L320.756 179.432L346.544 164.544Z" />
            <path d="M397.185 224.132L396.844 193.765L371.056 208.653L397.185 224.132Z" />
            <path d="M297.788 136.342L298.129 166.709L272 151.231L297.788 136.342Z" />
            <path class="hidden-mark" d="M396.983 109.635L396.643 79.2681L370.855 94.1568L396.983 109.635Z" />
            <path d="M389.244 122.699L363.115 107.221L363.456 137.588L389.244 122.699Z" />
            <path d="M362.444 163.96L388.573 179.438L362.784 194.327L362.444 163.96Z" />
            <path d="M339.147 207.975L313.018 192.497L313.358 222.864L339.147 207.975Z" />
            <path class="hidden-mark" d="M411.871 135.424L438 150.902L412.212 165.791L411.871 135.424Z" />
            <path d="M339.1 151.65L312.971 136.172L313.311 166.538L339.1 151.65Z" />
            <path d="M338.944 249.478L312.815 234L313.156 264.367L338.944 249.478Z" />
            <path d="M347.215 263.805L347.555 294.172L321.426 278.693L347.215 263.805Z" />
            <path d="M397.029 321.961L396.688 291.594L370.9 306.483L397.029 321.961Z" />
            <path d="M346.544 320.543L346.885 350.91L320.756 335.432L346.544 320.543Z" />
            <path class="hidden-mark" d="M397.185 380.132L396.844 349.765L371.056 364.653L397.185 380.132Z" />
            <path d="M297.788 292.342L298.129 322.709L272 307.231L297.788 292.342Z" />
            <path d="M396.983 265.635L396.643 235.268L370.855 250.157L396.983 265.635Z" />
            <path d="M389.244 278.699L363.115 263.221L363.456 293.588L389.244 278.699Z" />
            <path d="M362.444 319.96L388.573 335.438L362.784 350.327L362.444 319.96Z" />
            <path d="M339.147 363.975L313.018 348.497L313.358 378.864L339.147 363.975Z" />
            <path class="hidden-mark" d="M411.871 291.424L438 306.902L412.212 321.791L411.871 291.424Z" />
            <path d="M339.1 307.65L312.971 292.172L313.311 322.539L339.1 307.65Z" />
            <path class="hidden-mark" d="M202.944 15.4783L176.815 0L177.156 30.367L202.944 15.4783Z" />
            <path d="M211.215 29.8047L211.555 60.1717L185.426 44.6934L211.215 29.8047Z" />
            <path d="M261.029 87.961L260.688 57.594L234.9 72.4827L261.029 87.961Z" />
            <path d="M210.544 86.5435L210.885 116.91L184.756 101.432L210.544 86.5435Z" />
            <path d="M261.185 146.132L260.844 115.765L235.056 130.653L261.185 146.132Z" />
            <path d="M161.788 58.3421L162.129 88.709L136 73.2307L161.788 58.3421Z" />
            <path class="hidden-mark" d="M260.983 31.6351L260.643 1.26814L234.855 16.1568L260.983 31.6351Z" />
            <path d="M253.244 44.6995L227.115 29.2212L227.456 59.5882L253.244 44.6995Z" />
            <path d="M226.444 85.9601L252.573 101.438L226.784 116.327L226.444 85.9601Z" />
            <path d="M203.146 129.975L177.018 114.497L177.358 144.864L203.146 129.975Z" />
            <path d="M275.871 57.4236L302 72.9019L276.212 87.7906L275.871 57.4236Z" />
            <path d="M203.1 73.6498L176.971 58.1715L177.312 88.5385L203.1 73.6498Z" />
            <path d="M202.944 327.478L176.815 312L177.156 342.367L202.944 327.478Z" />
            <path d="M211.215 341.805L211.555 372.172L185.426 356.693L211.215 341.805Z" />
            <path d="M261.029 399.961L260.688 369.594L234.9 384.483L261.029 399.961Z" />
            <path d="M210.544 398.543L210.885 428.91L184.756 413.432L210.544 398.543Z" />
            <path class="hidden-mark" d="M261.185 458.132L260.844 427.765L235.056 442.653L261.185 458.132Z" />
            <path d="M161.788 370.342L162.129 400.709L136 385.231L161.788 370.342Z" />
            <path d="M260.983 343.635L260.643 313.268L234.855 328.157L260.983 343.635Z" />
            <path d="M253.244 356.699L227.115 341.221L227.456 371.588L253.244 356.699Z" />
            <path d="M226.444 397.96L252.573 413.438L226.784 428.327L226.444 397.96Z" />
            <path class="hidden-mark" d="M203.146 441.975L177.018 426.497L177.358 456.864L203.146 441.975Z" />
            <path d="M275.871 369.424L302 384.902L276.212 399.791L275.871 369.424Z" />
            <path d="M203.1 385.65L176.971 370.172L177.312 400.539L203.1 385.65Z" />
            <path d="M66.9438 249.478L40.8151 234L41.1556 264.367L66.9438 249.478Z" />
            <path d="M75.2146 263.805L75.555 294.172L49.4264 278.693L75.2146 263.805Z" />
            <path d="M125.029 321.961L124.688 291.594L98.9002 306.483L125.029 321.961Z" />
            <path d="M74.5444 320.543L74.8848 350.91L48.7562 335.432L74.5444 320.543Z" />
            <path d="M125.185 380.132L124.844 349.765L99.0562 364.653L125.185 380.132Z" />
            <path class="hidden-mark" d="M25.7882 292.342L26.1287 322.709L0 307.231L25.7882 292.342Z" />
            <path d="M124.983 265.635L124.643 235.268L98.8546 250.157L124.983 265.635Z" />
            <path d="M117.244 278.699L91.1154 263.221L91.4558 293.588L117.244 278.699Z" />
            <path d="M90.4441 319.96L116.573 335.438L90.7845 350.327L90.4441 319.96Z" />
            <path class="hidden-mark" d="M67.1465 363.975L41.0178 348.497L41.3583 378.864L67.1465 363.975Z" />
            <path d="M139.871 291.424L166 306.902L140.212 321.791L139.871 291.424Z" />
            <path d="M67.0997 307.65L40.9711 292.172L41.3115 322.539L67.0997 307.65Z" />
            <path class="hidden-mark" d="M66.9438 93.4783L40.8151 78L41.1556 108.367L66.9438 93.4783Z" />
            <path d="M75.2146 107.805L75.555 138.172L49.4264 122.693L75.2146 107.805Z" />
            <path d="M125.029 165.961L124.688 135.594L98.9002 150.483L125.029 165.961Z" />
            <path d="M74.5444 164.544L74.8848 194.91L48.7562 179.432L74.5444 164.544Z" />
            <path d="M125.185 224.132L124.844 193.765L99.0562 208.653L125.185 224.132Z" />
            <path class="hidden-mark" d="M25.7882 136.342L26.1287 166.709L0 151.231L25.7882 136.342Z" />
            <path d="M124.983 109.635L124.643 79.2681L98.8546 94.1568L124.983 109.635Z" />
            <path d="M117.244 122.699L91.1154 107.221L91.4558 137.588L117.244 122.699Z" />
            <path d="M90.4441 163.96L116.573 179.438L90.7845 194.327L90.4441 163.96Z" />
            <path d="M67.1465 207.975L41.0178 192.497L41.3583 222.864L67.1465 207.975Z" />
            <path d="M139.871 135.424L166 150.902L140.212 165.791L139.871 135.424Z" />
            <path d="M67.0997 151.65L40.9711 136.172L41.3115 166.538L67.0997 151.65Z" />
          </svg>
          <svg class="svg-letter" width="438" height="459" viewBox="0 0 438 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="hidden-mark" d="M202.944 171.478L176.815 156L177.156 186.367L202.944 171.478Z" />
            <path class="hidden-mark" d="M211.215 185.805L211.555 216.172L185.426 200.693L211.215 185.805Z" />
            <path class="hidden-mark" d="M261.029 243.961L260.688 213.594L234.9 228.483L261.029 243.961Z" />
            <path class="hidden-mark" d="M210.544 242.544L210.885 272.911L184.756 257.432L210.544 242.544Z" />
            <path class="hidden-mark" d="M261.185 302.132L260.844 271.765L235.056 286.653L261.185 302.132Z" />
            <path class="hidden-mark" d="M161.788 214.342L162.129 244.709L136 229.231L161.788 214.342Z" />
            <path class="hidden-mark" d="M260.983 187.635L260.643 157.268L234.855 172.157L260.983 187.635Z" />
            <path class="hidden-mark" d="M253.244 200.7L227.115 185.221L227.456 215.588L253.244 200.7Z" />
            <path class="hidden-mark" d="M226.444 241.96L252.573 257.438L226.784 272.327L226.444 241.96Z" />
            <path class="hidden-mark" d="M203.146 285.975L177.018 270.497L177.358 300.864L203.146 285.975Z" />
            <path class="hidden-mark" d="M275.871 213.424L302 228.902L276.212 243.791L275.871 213.424Z" />
            <path class="hidden-mark" d="M203.1 229.65L176.971 214.172L177.311 244.539L203.1 229.65Z" />
            <path d="M338.944 93.4783L312.815 78L313.156 108.367L338.944 93.4783Z" />
            <path d="M347.215 107.805L347.555 138.172L321.426 122.693L347.215 107.805Z" />
            <path d="M397.029 165.961L396.688 135.594L370.9 150.483L397.029 165.961Z" />
            <path d="M346.544 164.544L346.885 194.91L320.756 179.432L346.544 164.544Z" />
            <path d="M397.185 224.132L396.844 193.765L371.056 208.653L397.185 224.132Z" />
            <path d="M297.788 136.342L298.129 166.709L272 151.231L297.788 136.342Z" />
            <path class="hidden-mark" d="M396.983 109.635L396.643 79.2681L370.855 94.1568L396.983 109.635Z" />
            <path d="M389.244 122.699L363.115 107.221L363.456 137.588L389.244 122.699Z" />
            <path d="M362.444 163.96L388.573 179.438L362.784 194.327L362.444 163.96Z" />
            <path d="M339.147 207.975L313.018 192.497L313.358 222.864L339.147 207.975Z" />
            <path class="hidden-mark" d="M411.871 135.424L438 150.902L412.212 165.791L411.871 135.424Z" />
            <path d="M339.1 151.65L312.971 136.172L313.311 166.538L339.1 151.65Z" />
            <path d="M338.944 249.478L312.815 234L313.156 264.367L338.944 249.478Z" />
            <path d="M347.215 263.805L347.555 294.172L321.426 278.693L347.215 263.805Z" />
            <path d="M397.029 321.961L396.688 291.594L370.9 306.483L397.029 321.961Z" />
            <path d="M346.544 320.543L346.885 350.91L320.756 335.432L346.544 320.543Z" />
            <path class="hidden-mark" d="M397.185 380.132L396.844 349.765L371.056 364.653L397.185 380.132Z" />
            <path d="M297.788 292.342L298.129 322.709L272 307.231L297.788 292.342Z" />
            <path d="M396.983 265.635L396.643 235.268L370.855 250.157L396.983 265.635Z" />
            <path d="M389.244 278.699L363.115 263.221L363.456 293.588L389.244 278.699Z" />
            <path d="M362.444 319.96L388.573 335.438L362.784 350.327L362.444 319.96Z" />
            <path d="M339.147 363.975L313.018 348.497L313.358 378.864L339.147 363.975Z" />
            <path class="hidden-mark" d="M411.871 291.424L438 306.902L412.212 321.791L411.871 291.424Z" />
            <path d="M339.1 307.65L312.971 292.172L313.311 322.539L339.1 307.65Z" />
            <path class="hidden-mark" d="M202.944 15.4783L176.815 0L177.156 30.367L202.944 15.4783Z" />
            <path d="M211.215 29.8047L211.555 60.1717L185.426 44.6934L211.215 29.8047Z" />
            <path d="M261.029 87.961L260.688 57.594L234.9 72.4827L261.029 87.961Z" />
            <path d="M210.544 86.5435L210.885 116.91L184.756 101.432L210.544 86.5435Z" />
            <path d="M261.185 146.132L260.844 115.765L235.056 130.653L261.185 146.132Z" />
            <path d="M161.788 58.3421L162.129 88.709L136 73.2307L161.788 58.3421Z" />
            <path class="hidden-mark" d="M260.983 31.6351L260.643 1.26814L234.855 16.1568L260.983 31.6351Z" />
            <path d="M253.244 44.6995L227.115 29.2212L227.456 59.5882L253.244 44.6995Z" />
            <path d="M226.444 85.9601L252.573 101.438L226.784 116.327L226.444 85.9601Z" />
            <path d="M203.146 129.975L177.018 114.497L177.358 144.864L203.146 129.975Z" />
            <path d="M275.871 57.4236L302 72.9019L276.212 87.7906L275.871 57.4236Z" />
            <path d="M203.1 73.6498L176.971 58.1715L177.312 88.5385L203.1 73.6498Z" />
            <path d="M202.944 327.478L176.815 312L177.156 342.367L202.944 327.478Z" />
            <path d="M211.215 341.805L211.555 372.172L185.426 356.693L211.215 341.805Z" />
            <path d="M261.029 399.961L260.688 369.594L234.9 384.483L261.029 399.961Z" />
            <path d="M210.544 398.543L210.885 428.91L184.756 413.432L210.544 398.543Z" />
            <path class="hidden-mark" d="M261.185 458.132L260.844 427.765L235.056 442.653L261.185 458.132Z" />
            <path d="M161.788 370.342L162.129 400.709L136 385.231L161.788 370.342Z" />
            <path d="M260.983 343.635L260.643 313.268L234.855 328.157L260.983 343.635Z" />
            <path d="M253.244 356.699L227.115 341.221L227.456 371.588L253.244 356.699Z" />
            <path d="M226.444 397.96L252.573 413.438L226.784 428.327L226.444 397.96Z" />
            <path class="hidden-mark" d="M203.146 441.975L177.018 426.497L177.358 456.864L203.146 441.975Z" />
            <path d="M275.871 369.424L302 384.902L276.212 399.791L275.871 369.424Z" />
            <path d="M203.1 385.65L176.971 370.172L177.312 400.539L203.1 385.65Z" />
            <path d="M66.9438 249.478L40.8151 234L41.1556 264.367L66.9438 249.478Z" />
            <path d="M75.2146 263.805L75.555 294.172L49.4264 278.693L75.2146 263.805Z" />
            <path d="M125.029 321.961L124.688 291.594L98.9002 306.483L125.029 321.961Z" />
            <path d="M74.5444 320.543L74.8848 350.91L48.7562 335.432L74.5444 320.543Z" />
            <path d="M125.185 380.132L124.844 349.765L99.0562 364.653L125.185 380.132Z" />
            <path class="hidden-mark" d="M25.7882 292.342L26.1287 322.709L0 307.231L25.7882 292.342Z" />
            <path d="M124.983 265.635L124.643 235.268L98.8546 250.157L124.983 265.635Z" />
            <path d="M117.244 278.699L91.1154 263.221L91.4558 293.588L117.244 278.699Z" />
            <path d="M90.4441 319.96L116.573 335.438L90.7845 350.327L90.4441 319.96Z" />
            <path class="hidden-mark" d="M67.1465 363.975L41.0178 348.497L41.3583 378.864L67.1465 363.975Z" />
            <path d="M139.871 291.424L166 306.902L140.212 321.791L139.871 291.424Z" />
            <path d="M67.0997 307.65L40.9711 292.172L41.3115 322.539L67.0997 307.65Z" />
            <path class="hidden-mark" d="M66.9438 93.4783L40.8151 78L41.1556 108.367L66.9438 93.4783Z" />
            <path d="M75.2146 107.805L75.555 138.172L49.4264 122.693L75.2146 107.805Z" />
            <path d="M125.029 165.961L124.688 135.594L98.9002 150.483L125.029 165.961Z" />
            <path d="M74.5444 164.544L74.8848 194.91L48.7562 179.432L74.5444 164.544Z" />
            <path d="M125.185 224.132L124.844 193.765L99.0562 208.653L125.185 224.132Z" />
            <path class="hidden-mark" d="M25.7882 136.342L26.1287 166.709L0 151.231L25.7882 136.342Z" />
            <path d="M124.983 109.635L124.643 79.2681L98.8546 94.1568L124.983 109.635Z" />
            <path d="M117.244 122.699L91.1154 107.221L91.4558 137.588L117.244 122.699Z" />
            <path d="M90.4441 163.96L116.573 179.438L90.7845 194.327L90.4441 163.96Z" />
            <path d="M67.1465 207.975L41.0178 192.497L41.3583 222.864L67.1465 207.975Z" />
            <path d="M139.871 135.424L166 150.902L140.212 165.791L139.871 135.424Z" />
            <path d="M67.0997 151.65L40.9711 136.172L41.3115 166.538L67.0997 151.65Z" />
          </svg>
          <svg class="svg-letter" width="438" height="459" viewBox="0 0 438 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M202.944 171.478L176.815 156L177.156 186.367L202.944 171.478Z" />
            <path d="M211.215 185.805L211.555 216.172L185.426 200.693L211.215 185.805Z" />
            <path d="M261.029 243.961L260.688 213.594L234.9 228.483L261.029 243.961Z" />
            <path d="M210.544 242.544L210.885 272.911L184.756 257.432L210.544 242.544Z" />
            <path d="M261.185 302.132L260.844 271.765L235.056 286.653L261.185 302.132Z" />
            <path d="M161.788 214.342L162.129 244.709L136 229.231L161.788 214.342Z" />
            <path class="hidden-mark" d="M260.983 187.635L260.643 157.268L234.855 172.157L260.983 187.635Z" />
            <path d="M253.244 200.7L227.115 185.221L227.456 215.588L253.244 200.7Z" />
            <path d="M226.444 241.96L252.573 257.438L226.784 272.327L226.444 241.96Z" />
            <path class="hidden-mark" d="M203.146 285.975L177.018 270.497L177.358 300.864L203.146 285.975Z" />
            <path d="M275.871 213.424L302 228.902L276.212 243.791L275.871 213.424Z" />
            <path d="M203.1 229.65L176.971 214.172L177.311 244.539L203.1 229.65Z" />
            <path d="M338.944 93.4783L312.815 78L313.156 108.367L338.944 93.4783Z" />
            <path d="M347.215 107.805L347.555 138.172L321.426 122.693L347.215 107.805Z" />
            <path d="M397.029 165.961L396.688 135.594L370.9 150.483L397.029 165.961Z" />
            <path d="M346.544 164.544L346.885 194.91L320.756 179.432L346.544 164.544Z" />
            <path d="M397.185 224.132L396.844 193.765L371.056 208.653L397.185 224.132Z" />
            <path class="hidden-mark" d="M297.788 136.342L298.129 166.709L272 151.231L297.788 136.342Z" />
            <path d="M396.983 109.635L396.643 79.2681L370.855 94.1568L396.983 109.635Z" />
            <path d="M389.244 122.699L363.115 107.221L363.456 137.588L389.244 122.699Z" />
            <path d="M362.444 163.96L388.573 179.438L362.784 194.327L362.444 163.96Z" />
            <path d="M339.147 207.975L313.018 192.497L313.358 222.864L339.147 207.975Z" />
            <path class="hidden-mark" d="M411.871 135.424L438 150.902L412.212 165.791L411.871 135.424Z" />
            <path d="M339.1 151.65L312.971 136.172L313.311 166.538L339.1 151.65Z" />
            <path d="M338.944 249.478L312.815 234L313.156 264.367L338.944 249.478Z" />
            <path d="M347.215 263.805L347.555 294.172L321.426 278.693L347.215 263.805Z" />
            <path d="M397.029 321.961L396.688 291.594L370.9 306.483L397.029 321.961Z" />
            <path d="M346.544 320.543L346.885 350.91L320.756 335.432L346.544 320.543Z" />
            <path d="M397.185 380.132L396.844 349.765L371.056 364.653L397.185 380.132Z" />
            <path d="M297.788 292.342L298.129 322.709L272 307.231L297.788 292.342Z" />
            <path d="M396.983 265.635L396.643 235.268L370.855 250.157L396.983 265.635Z" />
            <path d="M389.244 278.699L363.115 263.221L363.456 293.588L389.244 278.699Z" />
            <path d="M362.444 319.96L388.573 335.438L362.784 350.327L362.444 319.96Z" />
            <path d="M339.147 363.975L313.018 348.497L313.358 378.864L339.147 363.975Z" />
            <path class="hidden-mark" d="M411.871 291.424L438 306.902L412.212 321.791L411.871 291.424Z" />
            <path d="M339.1 307.65L312.971 292.172L313.311 322.539L339.1 307.65Z" />
            <path class="hidden-mark" d="M202.944 15.4783L176.815 0L177.156 30.367L202.944 15.4783Z" />
            <path class="hidden-mark" d="M211.215 29.8047L211.555 60.1717L185.426 44.6934L211.215 29.8047Z" />
            <path class="hidden-mark" d="M261.029 87.961L260.688 57.594L234.9 72.4827L261.029 87.961Z" />
            <path class="hidden-mark" d="M210.544 86.5435L210.885 116.91L184.756 101.432L210.544 86.5435Z" />
            <path class="hidden-mark" d="M261.185 146.132L260.844 115.765L235.056 130.653L261.185 146.132Z" />
            <path class="hidden-mark" d="M161.788 58.3421L162.129 88.709L136 73.2307L161.788 58.3421Z" />
            <path class="hidden-mark" d="M260.983 31.6351L260.643 1.26814L234.855 16.1568L260.983 31.6351Z" />
            <path class="hidden-mark" d="M253.244 44.6995L227.115 29.2212L227.456 59.5882L253.244 44.6995Z" />
            <path class="hidden-mark" d="M226.444 85.9601L252.573 101.438L226.784 116.327L226.444 85.9601Z" />
            <path class="hidden-mark" d="M203.146 129.975L177.018 114.497L177.358 144.864L203.146 129.975Z" />
            <path class="hidden-mark" d="M275.871 57.4236L302 72.9019L276.212 87.7906L275.871 57.4236Z" />
            <path class="hidden-mark" d="M203.1 73.6498L176.971 58.1715L177.312 88.5385L203.1 73.6498Z" />
            <path class="hidden-mark" d="M202.944 327.478L176.815 312L177.156 342.367L202.944 327.478Z" />
            <path class="hidden-mark" d="M211.215 341.805L211.555 372.172L185.426 356.693L211.215 341.805Z" />
            <path class="hidden-mark" d="M261.029 399.961L260.688 369.594L234.9 384.483L261.029 399.961Z" />
            <path class="hidden-mark" d="M210.544 398.543L210.885 428.91L184.756 413.432L210.544 398.543Z" />
            <path class="hidden-mark" d="M261.185 458.132L260.844 427.765L235.056 442.653L261.185 458.132Z" />
            <path class="hidden-mark" d="M161.788 370.342L162.129 400.709L136 385.231L161.788 370.342Z" />
            <path class="hidden-mark" d="M260.983 343.635L260.643 313.268L234.855 328.157L260.983 343.635Z" />
            <path class="hidden-mark" d="M253.244 356.699L227.115 341.221L227.456 371.588L253.244 356.699Z" />
            <path class="hidden-mark" d="M226.444 397.96L252.573 413.438L226.784 428.327L226.444 397.96Z" />
            <path class="hidden-mark" d="M203.146 441.975L177.018 426.497L177.358 456.864L203.146 441.975Z" />
            <path class="hidden-mark" d="M275.871 369.424L302 384.902L276.212 399.791L275.871 369.424Z" />
            <path class="hidden-mark" d="M203.1 385.65L176.971 370.172L177.312 400.539L203.1 385.65Z" />
            <path d="M66.9438 249.478L40.8151 234L41.1556 264.367L66.9438 249.478Z" />
            <path d="M75.2146 263.805L75.555 294.172L49.4264 278.693L75.2146 263.805Z" />
            <path d="M125.029 321.961L124.688 291.594L98.9002 306.483L125.029 321.961Z" />
            <path d="M74.5444 320.543L74.8848 350.91L48.7562 335.432L74.5444 320.543Z" />
            <path d="M125.185 380.132L124.844 349.765L99.0562 364.653L125.185 380.132Z" />
            <path class="hidden-mark" d="M25.7882 292.342L26.1287 322.709L0 307.231L25.7882 292.342Z" />
            <path d="M124.983 265.635L124.643 235.268L98.8546 250.157L124.983 265.635Z" />
            <path d="M117.244 278.699L91.1154 263.221L91.4558 293.588L117.244 278.699Z" />
            <path d="M90.4441 319.96L116.573 335.438L90.7845 350.327L90.4441 319.96Z" />
            <path d="M67.1465 363.975L41.0178 348.497L41.3583 378.864L67.1465 363.975Z" />
            <path class="hidden-mark" d="M139.871 291.424L166 306.902L140.212 321.791L139.871 291.424Z" />
            <path d="M67.0997 307.65L40.9711 292.172L41.3115 322.539L67.0997 307.65Z" />
            <path d="M66.9438 93.4783L40.8151 78L41.1556 108.367L66.9438 93.4783Z" />
            <path d="M75.2146 107.805L75.555 138.172L49.4264 122.693L75.2146 107.805Z" />
            <path d="M125.029 165.961L124.688 135.594L98.9002 150.483L125.029 165.961Z" />
            <path d="M74.5444 164.544L74.8848 194.91L48.7562 179.432L74.5444 164.544Z" />
            <path d="M125.185 224.132L124.844 193.765L99.0562 208.653L125.185 224.132Z" />
            <path class="hidden-mark" d="M25.7882 136.342L26.1287 166.709L0 151.231L25.7882 136.342Z" />
            <path d="M124.983 109.635L124.643 79.2681L98.8546 94.1568L124.983 109.635Z" />
            <path d="M117.244 122.699L91.1154 107.221L91.4558 137.588L117.244 122.699Z" />
            <path d="M90.4441 163.96L116.573 179.438L90.7845 194.327L90.4441 163.96Z" />
            <path d="M67.1465 207.975L41.0178 192.497L41.3583 222.864L67.1465 207.975Z" />
            <path d="M139.871 135.424L166 150.902L140.212 165.791L139.871 135.424Z" />
            <path d="M67.0997 151.65L40.9711 136.172L41.3115 166.538L67.0997 151.65Z" />
          </svg>
        </div>
      </div>
    </div>

  </div>
<!--  <div class="page-loader">-->
<!--    <div class="context">-->
<!--      <h1>Coming soon...</h1>-->
<!--    </div>-->


<!--    <div class="area" >-->
<!--      <ul class="circles">-->
<!--        <li>Y</li>-->
<!--        <li>ᛖ</li>-->
<!--        <li>ᚺ</li>-->
<!--        <li>ᛟ</li>-->
<!--        <li>ᛚ</li>-->
<!--        <li>ᛗ</li>-->
<!--        <li>ᚴ</li>-->
<!--        <li>ᚱ</li>-->
<!--        <li>ᚭ</li>-->
<!--        <li>ᛏ</li>-->
<!--        <li>ᛐ</li>-->
<!--        <li>ᛞ</li>-->
<!--      </ul>-->
<!--    </div >-->
<!--  </div>-->

</template>

<script>
export default {
  name: "Preloader"
}
</script>

<style lang="scss" scoped>
.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7f1e3;
  z-index: 999;

  .svg-letter {
    padding: 1vw;
    animation: grow-and-fade 3000ms infinite ease-in-out;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {

        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * (2s / 6);
      }
    }
    path {
      stroke-width: 4px;
      stroke: #960018;

      -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25));
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25));

      &.hidden-mark {
        opacity: 0.1;
        -webkit-filter: none;
        filter: none;
        //animation: grow-and-fade 6000ms infinite ease-in-out;
      }


    }


  }

  .mark-2 {
    position: absolute;
    right: calc(50% - 60px);
    top: calc(50% - 170px);
    //transform: rotateZ(90deg);
    //animation: grow-and-fade 1100ms infinite;
    animation-delay: 200ms;

  }

  @keyframes grow-and-fade {
    0% {
      opacity: 0.1;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.01);
    }
    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }
  @keyframes grow-and-fade-2 {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
}


//.page-loader {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100vw;
//  height: 100vh;
//  z-index: 1000;
//
//}
//.context {
//  width: 100%;
//  position: absolute;
//  top: 50vh;
//
//}
//
//.context h1 {
//  text-align: center;
//  color: #fff;
//  font-size: 50px;
//}
//
//
//.area {
//  background: #60a3bc;
//  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
//  width: 100%;
//  height:100vh;
//
//
//}
//
//.circles {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//}
//
//.circles li {
//  position: absolute;
//  display: block;
//  list-style: none;
//  font-size: 120px;
//  color: rgba(255, 255, 255, 0.2);;
//  //width: 20px;
//  //height: 20px;
//  //background: rgba(255, 255, 255, 0.2);
//  animation: animate 25s linear infinite;
//  bottom: -150px;
//
//}
//
//.circles li:nth-child(1){
//  left: 25%;
//  font-size: 80px;
//  width: 80px;
//  height: 80px;
//  animation-delay: 0s;
//}
//
//
//.circles li:nth-child(2){
//  left: 10%;
//  font-size: 100px;
//  animation-delay: 2s;
//  animation-duration: 16s;
//}
//
//.circles li:nth-child(3){
//  left: 70%;
//  font-size: 60px;
//  animation-delay: 4s;
//}
//
//.circles li:nth-child(4){
//  left: 85%;
//  font-size: 80px;
//  animation-delay: 0s;
//  animation-duration: 16s;
//}
//
//.circles li:nth-child(5){
//  left: 65%;
//  font-size: 40px;
//  animation-delay: 0s;
//}
//
//.circles li:nth-child(6){
//  left: 75%;
//  font-size: 80px;
//  animation-delay: 12s;
//}
//
//.circles li:nth-child(7){
//  left: 35%;
//  font-size: 120px;
//  animation-delay: 16s;
//  animation-duration: 16s;
//}
//
//.circles li:nth-child(8){
//  left: 50%;
//  font-size: 100px;
//  animation-delay: 10s;
//  animation-duration: 26s;
//}
//
//.circles li:nth-child(9){
//  left: 20%;
//  font-size: 80px;
//  animation-delay: 2s;
//  animation-duration: 30s;
//}
//
//.circles li:nth-child(10){
//  left: 85%;
//  font-size: 60px;
//  animation-delay: 0s;
//  animation-duration: 12s;
//}
//
//.circles li:nth-child(11){
//  left: 55%;
//  font-size: 60px;
//  animation-delay: 6s;
//  animation-duration: 16s;
//}
//
//.circles li:nth-child(12){
//  left: 55%;
//  font-size: 60px;
//  animation-delay: 8s;
//  animation-duration: 20s;
//}
//
//
//
//@keyframes animate {
//
//  0%{
//    transform: translateY(0) rotate(0deg);
//    opacity: 1;
//    border-radius: 0;
//  }
//
//  100%{
//    transform: translateY(-1000px) rotate(720deg);
//    opacity: 0;
//    border-radius: 50%;
//  }
//
//}

</style>
