<template>
  <section id="runes-detail">
    <div class="shadow_bg"></div>
    <div class="wrapper">
        <div class="content">
            <p class="mb-2 title">{{$t('quotes_title')}}</p>
            <div class="inner">
                <p v-for="(item, index) in $t(`quotes`)" :key="item"><span>{{index + 1 + ". "}}</span>{{item}}</p>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
export default {
    name: "RunesStory"
}
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

  #runes-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    //background-color: #f7f1e3;
    font-family: 'Amatic SC', cursive;
    z-index: 999;
    background: url("../assets/head-pattern-light.svg") no-repeat top/100%, url("../assets/head-pattern_second.png") no-repeat center/100%, #EEEEEE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    .shadow_bg {
      background: rgba(#000000, 0.75);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      //height: 100%;
      overflow: hidden;
      background: none;
      .content {
        width: 100%;
        height: 95%;
        max-width: 100%;
        aspect-ratio: 7/9;
        background: url("../assets/strory-papper_bg.png") no-repeat top/100%;
        padding: 100px 50px 82px 64px;

        //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        text-align: center;
        color: #002D82;
        .title {
          font-weight: bold;
          font-size: 36px;
        }
        .inner {
          width: 100%;
          height: 85%;
          overflow-y: auto;
          overscroll-behavior-y: auto;
          text-align: left;
          font-weight: bold;
          font-size: 22px;
          p {
            line-height: 1.25;
            margin-bottom: 0.5rem;
            span {
              font-family: 'Caveat', cursive;
              margin-right: 8px;
            }
          }

          //font-size: 1.2em;

          &::-webkit-scrollbar {
            background-color: rgba(#583C0D, 0.15);
            width: 14px
          }

          /* background of the scrollbar except button or resizer */
          &::-webkit-scrollbar-track {
            background-color: rgba(#583C0D, 0)
          }
          &::-webkit-scrollbar-track:hover {
            background-color: rgba(#583C0D, 0.15);
          }

          /* scrollbar itself */
          &::-webkit-scrollbar-thumb {
            background-color: #85642D;
            border-radius: 14px;
            border: 4px solid rgba(#E0C493, 0.75);
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: #85642D;
            border: 3px solid #E0C493
          }
        }
      }
    }
    @media screen and (max-width: 1400px) {
      .wrapper {
        .content {
          height: 100%;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 992px) {
      .wrapper {
        .content {
          .title {
            font-weight: bold;
            font-size: 30px;
          }
          height: 100%;
          width: 70%;
        }
      }
    }
    @media screen and (max-width: 576px) {
      .wrapper {
        .content {
          width: 100%;
          padding: 80px 36px 72px 46px;
          .title {
            font-size: 30px;
          }
          .inner {
            p {
              line-height: 1.25;
              margin-bottom: 0.5rem;
              span {
                margin-right: 2px;
              }
            }
          }
        }
      }
    }
  }
</style>