<template>
  <div id="app">
    <PageLoader />
    <Header/>
    <main>
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from "@/components/Footer";

import PageLoader from './components/PageLoader'

export default {
  name: 'App',
  components: { Header, Footer, PageLoader },
  methods: {
    scrollToTop() {
      window.scrollTo(0,0);
    }
  },
  mounted() {
    this.scrollToTop()
  }
}
</script>

<style lang="scss">

  html, body {
    height: 100%;
    max-width: 100%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
  font-family: "TTMussels";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src:
      local("TTMussels-Light"),
      url("../public/fonts/TTMussels/TTMussels-Light.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
      url("../public/fonts/TTMussels/TTMussels-Light.woff") format("woff"), /* все современные браузеры, IE9+ */
      url("../public/fonts/TTMussels/TTMussels-Light.woff2") format("woff2"),
      url("../public/fonts/TTMussels/TTMussels-Light.ttf") format("truetype"); /* все современные браузеры */
}
@font-face {
  font-family: "TTMussels";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src:
      local("TTMussels-Regular"),
      url("../public/fonts/TTMussels/TTMussels-Regular.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
      url("../public/fonts/TTMussels/TTMussels-Regular.woff") format("woff"), /* все современные браузеры, IE9+ */
      url("../public/fonts/TTMussels/TTMussels-Regular.woff2") format("woff2"),
      url("../public/fonts/TTMussels/TTMussels-Regular.ttf") format("truetype"); /* все современные браузеры */
}
@font-face {
  font-family: "TTMussels-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src:
      local("TTMussels-Medium"),
      url("../public/fonts/TTMussels/TTMussels-Medium.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
      url("../public/fonts/TTMussels/TTMussels-Medium.woff") format("woff"), /* все современные браузеры, IE9+ */
      url("../public/fonts/TTMussels/TTMussels-Medium.woff2") format("woff2"),
      url("../public/fonts/TTMussels/TTMussels-Medium.ttf") format("truetype"); /* все современные браузеры */
}
@font-face {
  font-family: "TTMussels-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src:
      local("TTMussels"),
      url("../public/fonts/TTMussels/TTMussels-Bold.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
      url("../public/fonts/TTMussels/TTMussels-Bold.woff") format("woff"), /* все современные браузеры, IE9+ */
      url("../public/fonts/TTMussels/TTMussels-Bold.woff2") format("woff2"),
      url("../public/fonts/TTMussels/TTMussels-Bold.ttf") format("truetype"); /* все современные браузеры */
}
#app {
  background: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
